/*------------------------------------*\
  #VARIABLES-TYPO
\*------------------------------------*/

$path-to-fonts:'./';

//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          14px;
$font-size-large:         ceil((1.25 * $font-size-base));
$font-size-small:         ceil((0.85 * $font-size-base));

$font-size-h1:            3em;
$font-size-h2:            2em;
$font-size-h3:            1.5em;
$font-size-h4:            1.2em;
$font-size-h5:            1em;
$font-size-h6:            1em;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        $phi;
$line-height-computed:    ceil(($font-size-base * $line-height-base));
$paragraph-margin:        ceil((($golden-ratio-small/100) * $line-height-computed));
//$overall-text-height:     ($paragraph-margin * 1px) + $line-height-computed;

$text-color:            #333;