/* --------------------------------------------------------------

   _typography.scss
   * Sets up some sensible default typography.

-------------------------------------------------------------- */

/*
@font-face {
  font-family: 'Example-Font';
  src: url( '#{$path-to-fonts}/example-font.eot' );
  src: url( '#{$path-to-fonts}/example-font.woff' ) format( 'woff' ),
  url( '#{$path-to-fonts}/example-font.ttf' ) format( 'truetype' ),
  url( '#{$path-to-fonts}/example-font.svg' ) format( 'svg' );
  font-weight: normal;
  font-style: normal;
}
*/

@import url('https://rsms.me/inter/inter.css');

html {
  font-size:100.01%;
}

body {
  font-size: $font-size-base;
  color: $text-color;
  font-family: $font-family-base;
  line-height: $line-height-computed;
}

// HEADINGS
h1, h2, h3, h4, h5, h6 {
  padding-top: 0.5em;
  padding-bottom:0.25em;
  margin: 0;
}
h1 { font-size:$font-size-h1;}
h2 { font-size:$font-size-h2;}
h3 { font-size:$font-size-h3;}
h4 { font-size:$font-size-h4;}
h5 { font-size:$font-size-h5;}
h6 { font-size:$font-size-h6;}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin:0;
}
/*
p {
  -webkit-margin-before: $paragraph-margin;
  -webkit-margin-after: 0;
}
*/
