/*------------------------------------*\
  #VARIABLES-FORMS
\*------------------------------------*/

//* vars.forms */
$form-gutter: $grid-gutter;
$form-half-gutter: ($form-gutter/2);
$form-padding: $grid-brick-padding-rtl;
$form-border-width: 2px;
$form-border-color: $text-color;