body {
  margin: 0;
}

.navbar {
  z-index: 1035;
  height: ((2*$grid-brick-height)+$grid-gutter);
}

.navbar > .container {
  display: flex;
}

.navbar-default {
  background: $navbar-default-background;

  color: $navbar-default-color;
}

.navbar-fixed {
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar-fixed + .container {
  margin-top: ((2*$grid-brick-height)+$grid-gutter);
}

.navbar-header {
  width: $golden-ratio-small;

  display: inline-block;
}

.navbar-header + div {
  width: calc(#{$golden-ratio-tall} - #{$hamburger-button-width});

  display: inline-block;
}

.navbar .c-hamburger {
  margin: auto 0;
}

a.navbar-brand {
  font-size: $navbar-brand-font-size;
  font-weight: 700;

  color: $navbar-default-color;
  text-decoration: none;

  display: inline-block;
  line-height: normal;
}

.navbar-nav {
  list-style-type: none;

  a,
  a:visited {
    color: $navbar-default-color;
  }

  a.is-active {
    background: darkgrey;
  }
}

.nav > li {
  margin: $grid-half-gutter;

  display: inline-block;
}

.nav > li:first-child {
  margin-left: 0;
}

.nav > li:last-child {
  margin-right: 0;
}

//* footer */
.footer {

}

.footer-fixed {
  margin-bottom: ($grid-brick-height - $grid-half-gutter) !important;
}

.footer-fixed + .footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-default {
  background: $navbar-default-background;

  color: $navbar-default-color;

  height: $grid-brick-height;
}

//* mobile */

@media #{$media-phone} {

  .navbar-header {
    width: calc(100% - #{$hamburger-button-width});
    margin-top: (((2*$grid-brick-height) - ((2*$grid-brick-height) * $golden-ratio))/2);
  }

  a.navbar-brand {
    font-size: ceil($navbar-brand-font-size * $golden-ratio);
  }

  .navbar-nav {
    a,
    a:visited {
      color: black;
    }

    a.is-active {
      background: darkgrey;
    }
  }

  .nav > li,
  .nav > li:first-child,
  .nav > li:last-child{
    margin: $grid-half-gutter;

    display: block;
  }

  .navbar .c-hamburger {
    margin: auto 0;
  }

  .navbar-header + div {
    width: 300px;

    display: block;
  }
}