/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-CORE
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-TYPO
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-FORMS
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-PIKTOS
\*------------------------------------*/
/*------------------------------------*\
  #GRID-MIXINS_REGULAR
\*------------------------------------*/
/*------------------------------------*\
  #GRID-MIXINS_MOBILE
\*------------------------------------*/
/*------------------------------------*\
  #GRID-MIXINS_MISC
\*------------------------------------*/
/*------------------------------------*\
  #GRID-BRICK
\*------------------------------------*/
.brick {
  margin: 2px;
  padding: 4px 4px;
  min-height: 26px; }

.brick--inverse {
  background: #000;
  color: #fff; }

/*------------------------------------*\
  #GRID-BRICK VISIBILITY
\*------------------------------------*/
.brick--hide,
.brick-mobile--show {
  display: none; }

.brick--show {
  display: flex; }

/*------------------------------------*\
  #GRID-BRICK IMAGES
\*------------------------------------*/
.brick > img {
  width: 100%;
  height: 100%; }

.unigrid--col > .brick > img {
  width: auto; }

img.brick,
.brick--img {
  margin: 2px;
  padding: 0; }

/*------------------------------------*\
  #GRID-BRICK MISC
\*------------------------------------*/
hr {
  margin: 18px 0;
  border: 1px solid #000000; }

.container {
  max-width: 908px;
  height: 100%;
  margin: 0 auto; }

/*------------------------------------*\
  #GRID-BRICK FIRST/LAST
\*------------------------------------*/
@media only screen and (min-width: 1024px) {
  .brick:first-child,
  .brick.first {
    margin-left: 0; }

  .brick:last-child,
  .brick.last {
    margin-right: 0; }

  .unigrid--row > .unigrid--col.brick:last-child,
  .unigrid--row > .unigrid--col.brick.last {
    margin-left: 2px; } }
/*------------------------------------*\
  #GRID-BRICK ORDER
\*------------------------------------*/
.order--1 {
  order: 1; }

.order--2 {
  order: 2; }

.order--3 {
  order: 3; }

.order--4 {
  order: 4; }

.order--5 {
  order: 5; }

.order--6 {
  order: 6; }

.order--7 {
  order: 7; }

.order--8 {
  order: 8; }

.order--9 {
  order: 9; }

.order--10 {
  order: 10; }

.order--11 {
  order: 11; }

.order--12 {
  order: 12; }

.order--13 {
  order: 13; }

.order--14 {
  order: 14; }

.order--15 {
  order: 15; }

.order--16 {
  order: 16; }

.order--17 {
  order: 17; }

.order--18 {
  order: 18; }

.order--19 {
  order: 19; }

.order--20 {
  order: 20; }

.order--21 {
  order: 21; }

.order--22 {
  order: 22; }

.order--23 {
  order: 23; }

.order--24 {
  order: 24; }

/*------------------------------------*\
  #GRID-ROW
\*------------------------------------*/
.unigrid--row {
  width: 908px;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start; }

.unigrid--row > .unigrid--col {
  padding: 0;
  margin: 0;
  max-width: 100%; }

.brick--1 {
  min-height: 26px;
  width: 26px;
  max-width: 26px;
  flex-basis: 26px; }

.unigrid--col.brick--1,
.unigrid--row.brick--1,
.brick--img.brick--1,
img.brick--1 {
  width: 34px;
  max-width: 34px;
  flex-basis: 34px; }

.prepend--1 {
  margin-left: 40px; }

.first.prepend--1,
.brick:first-child.prepend--1 {
  margin-left: 38px; }

.append--1 {
  margin-right: 40px; }

.last.append--1,
.brick:last-child.append--1 {
  margin-right: 38px; }

.brick--2 {
  min-height: 26px;
  width: 64px;
  max-width: 64px;
  flex-basis: 64px; }

.unigrid--col.brick--2,
.unigrid--row.brick--2,
.brick--img.brick--2,
img.brick--2 {
  width: 72px;
  max-width: 72px;
  flex-basis: 72px; }

.prepend--2 {
  margin-left: 78px; }

.first.prepend--2,
.brick:first-child.prepend--2 {
  margin-left: 76px; }

.append--2 {
  margin-right: 78px; }

.last.append--2,
.brick:last-child.append--2 {
  margin-right: 76px; }

.brick--3 {
  min-height: 26px;
  width: 102px;
  max-width: 102px;
  flex-basis: 102px; }

.unigrid--col.brick--3,
.unigrid--row.brick--3,
.brick--img.brick--3,
img.brick--3 {
  width: 110px;
  max-width: 110px;
  flex-basis: 110px; }

.prepend--3 {
  margin-left: 116px; }

.first.prepend--3,
.brick:first-child.prepend--3 {
  margin-left: 114px; }

.append--3 {
  margin-right: 116px; }

.last.append--3,
.brick:last-child.append--3 {
  margin-right: 114px; }

.brick--4 {
  min-height: 26px;
  width: 140px;
  max-width: 140px;
  flex-basis: 140px; }

.unigrid--col.brick--4,
.unigrid--row.brick--4,
.brick--img.brick--4,
img.brick--4 {
  width: 148px;
  max-width: 148px;
  flex-basis: 148px; }

.prepend--4 {
  margin-left: 154px; }

.first.prepend--4,
.brick:first-child.prepend--4 {
  margin-left: 152px; }

.append--4 {
  margin-right: 154px; }

.last.append--4,
.brick:last-child.append--4 {
  margin-right: 152px; }

.brick--5 {
  min-height: 26px;
  width: 178px;
  max-width: 178px;
  flex-basis: 178px; }

.unigrid--col.brick--5,
.unigrid--row.brick--5,
.brick--img.brick--5,
img.brick--5 {
  width: 186px;
  max-width: 186px;
  flex-basis: 186px; }

.prepend--5 {
  margin-left: 192px; }

.first.prepend--5,
.brick:first-child.prepend--5 {
  margin-left: 190px; }

.append--5 {
  margin-right: 192px; }

.last.append--5,
.brick:last-child.append--5 {
  margin-right: 190px; }

.brick--6 {
  min-height: 26px;
  width: 216px;
  max-width: 216px;
  flex-basis: 216px; }

.unigrid--col.brick--6,
.unigrid--row.brick--6,
.brick--img.brick--6,
img.brick--6 {
  width: 224px;
  max-width: 224px;
  flex-basis: 224px; }

.prepend--6 {
  margin-left: 230px; }

.first.prepend--6,
.brick:first-child.prepend--6 {
  margin-left: 228px; }

.append--6 {
  margin-right: 230px; }

.last.append--6,
.brick:last-child.append--6 {
  margin-right: 228px; }

.brick--7 {
  min-height: 26px;
  width: 254px;
  max-width: 254px;
  flex-basis: 254px; }

.unigrid--col.brick--7,
.unigrid--row.brick--7,
.brick--img.brick--7,
img.brick--7 {
  width: 262px;
  max-width: 262px;
  flex-basis: 262px; }

.prepend--7 {
  margin-left: 268px; }

.first.prepend--7,
.brick:first-child.prepend--7 {
  margin-left: 266px; }

.append--7 {
  margin-right: 268px; }

.last.append--7,
.brick:last-child.append--7 {
  margin-right: 266px; }

.brick--8 {
  min-height: 26px;
  width: 292px;
  max-width: 292px;
  flex-basis: 292px; }

.unigrid--col.brick--8,
.unigrid--row.brick--8,
.brick--img.brick--8,
img.brick--8 {
  width: 300px;
  max-width: 300px;
  flex-basis: 300px; }

.prepend--8 {
  margin-left: 306px; }

.first.prepend--8,
.brick:first-child.prepend--8 {
  margin-left: 304px; }

.append--8 {
  margin-right: 306px; }

.last.append--8,
.brick:last-child.append--8 {
  margin-right: 304px; }

.brick--9 {
  min-height: 26px;
  width: 330px;
  max-width: 330px;
  flex-basis: 330px; }

.unigrid--col.brick--9,
.unigrid--row.brick--9,
.brick--img.brick--9,
img.brick--9 {
  width: 338px;
  max-width: 338px;
  flex-basis: 338px; }

.prepend--9 {
  margin-left: 344px; }

.first.prepend--9,
.brick:first-child.prepend--9 {
  margin-left: 342px; }

.append--9 {
  margin-right: 344px; }

.last.append--9,
.brick:last-child.append--9 {
  margin-right: 342px; }

.brick--10 {
  min-height: 26px;
  width: 368px;
  max-width: 368px;
  flex-basis: 368px; }

.unigrid--col.brick--10,
.unigrid--row.brick--10,
.brick--img.brick--10,
img.brick--10 {
  width: 376px;
  max-width: 376px;
  flex-basis: 376px; }

.prepend--10 {
  margin-left: 382px; }

.first.prepend--10,
.brick:first-child.prepend--10 {
  margin-left: 380px; }

.append--10 {
  margin-right: 382px; }

.last.append--10,
.brick:last-child.append--10 {
  margin-right: 380px; }

.brick--11 {
  min-height: 26px;
  width: 406px;
  max-width: 406px;
  flex-basis: 406px; }

.unigrid--col.brick--11,
.unigrid--row.brick--11,
.brick--img.brick--11,
img.brick--11 {
  width: 414px;
  max-width: 414px;
  flex-basis: 414px; }

.prepend--11 {
  margin-left: 420px; }

.first.prepend--11,
.brick:first-child.prepend--11 {
  margin-left: 418px; }

.append--11 {
  margin-right: 420px; }

.last.append--11,
.brick:last-child.append--11 {
  margin-right: 418px; }

.brick--12 {
  min-height: 26px;
  width: 444px;
  max-width: 444px;
  flex-basis: 444px; }

.unigrid--col.brick--12,
.unigrid--row.brick--12,
.brick--img.brick--12,
img.brick--12 {
  width: 452px;
  max-width: 452px;
  flex-basis: 452px; }

.prepend--12 {
  margin-left: 458px; }

.first.prepend--12,
.brick:first-child.prepend--12 {
  margin-left: 456px; }

.append--12 {
  margin-right: 458px; }

.last.append--12,
.brick:last-child.append--12 {
  margin-right: 456px; }

.brick--13 {
  min-height: 26px;
  width: 482px;
  max-width: 482px;
  flex-basis: 482px; }

.unigrid--col.brick--13,
.unigrid--row.brick--13,
.brick--img.brick--13,
img.brick--13 {
  width: 490px;
  max-width: 490px;
  flex-basis: 490px; }

.prepend--13 {
  margin-left: 496px; }

.first.prepend--13,
.brick:first-child.prepend--13 {
  margin-left: 494px; }

.append--13 {
  margin-right: 496px; }

.last.append--13,
.brick:last-child.append--13 {
  margin-right: 494px; }

.brick--14 {
  min-height: 26px;
  width: 520px;
  max-width: 520px;
  flex-basis: 520px; }

.unigrid--col.brick--14,
.unigrid--row.brick--14,
.brick--img.brick--14,
img.brick--14 {
  width: 528px;
  max-width: 528px;
  flex-basis: 528px; }

.prepend--14 {
  margin-left: 534px; }

.first.prepend--14,
.brick:first-child.prepend--14 {
  margin-left: 532px; }

.append--14 {
  margin-right: 534px; }

.last.append--14,
.brick:last-child.append--14 {
  margin-right: 532px; }

.brick--15 {
  min-height: 26px;
  width: 558px;
  max-width: 558px;
  flex-basis: 558px; }

.unigrid--col.brick--15,
.unigrid--row.brick--15,
.brick--img.brick--15,
img.brick--15 {
  width: 566px;
  max-width: 566px;
  flex-basis: 566px; }

.prepend--15 {
  margin-left: 572px; }

.first.prepend--15,
.brick:first-child.prepend--15 {
  margin-left: 570px; }

.append--15 {
  margin-right: 572px; }

.last.append--15,
.brick:last-child.append--15 {
  margin-right: 570px; }

.brick--16 {
  min-height: 26px;
  width: 596px;
  max-width: 596px;
  flex-basis: 596px; }

.unigrid--col.brick--16,
.unigrid--row.brick--16,
.brick--img.brick--16,
img.brick--16 {
  width: 604px;
  max-width: 604px;
  flex-basis: 604px; }

.prepend--16 {
  margin-left: 610px; }

.first.prepend--16,
.brick:first-child.prepend--16 {
  margin-left: 608px; }

.append--16 {
  margin-right: 610px; }

.last.append--16,
.brick:last-child.append--16 {
  margin-right: 608px; }

.brick--17 {
  min-height: 26px;
  width: 634px;
  max-width: 634px;
  flex-basis: 634px; }

.unigrid--col.brick--17,
.unigrid--row.brick--17,
.brick--img.brick--17,
img.brick--17 {
  width: 642px;
  max-width: 642px;
  flex-basis: 642px; }

.prepend--17 {
  margin-left: 648px; }

.first.prepend--17,
.brick:first-child.prepend--17 {
  margin-left: 646px; }

.append--17 {
  margin-right: 648px; }

.last.append--17,
.brick:last-child.append--17 {
  margin-right: 646px; }

.brick--18 {
  min-height: 26px;
  width: 672px;
  max-width: 672px;
  flex-basis: 672px; }

.unigrid--col.brick--18,
.unigrid--row.brick--18,
.brick--img.brick--18,
img.brick--18 {
  width: 680px;
  max-width: 680px;
  flex-basis: 680px; }

.prepend--18 {
  margin-left: 686px; }

.first.prepend--18,
.brick:first-child.prepend--18 {
  margin-left: 684px; }

.append--18 {
  margin-right: 686px; }

.last.append--18,
.brick:last-child.append--18 {
  margin-right: 684px; }

.brick--19 {
  min-height: 26px;
  width: 710px;
  max-width: 710px;
  flex-basis: 710px; }

.unigrid--col.brick--19,
.unigrid--row.brick--19,
.brick--img.brick--19,
img.brick--19 {
  width: 718px;
  max-width: 718px;
  flex-basis: 718px; }

.prepend--19 {
  margin-left: 724px; }

.first.prepend--19,
.brick:first-child.prepend--19 {
  margin-left: 722px; }

.append--19 {
  margin-right: 724px; }

.last.append--19,
.brick:last-child.append--19 {
  margin-right: 722px; }

.brick--20 {
  min-height: 26px;
  width: 748px;
  max-width: 748px;
  flex-basis: 748px; }

.unigrid--col.brick--20,
.unigrid--row.brick--20,
.brick--img.brick--20,
img.brick--20 {
  width: 756px;
  max-width: 756px;
  flex-basis: 756px; }

.prepend--20 {
  margin-left: 762px; }

.first.prepend--20,
.brick:first-child.prepend--20 {
  margin-left: 760px; }

.append--20 {
  margin-right: 762px; }

.last.append--20,
.brick:last-child.append--20 {
  margin-right: 760px; }

.brick--21 {
  min-height: 26px;
  width: 786px;
  max-width: 786px;
  flex-basis: 786px; }

.unigrid--col.brick--21,
.unigrid--row.brick--21,
.brick--img.brick--21,
img.brick--21 {
  width: 794px;
  max-width: 794px;
  flex-basis: 794px; }

.prepend--21 {
  margin-left: 800px; }

.first.prepend--21,
.brick:first-child.prepend--21 {
  margin-left: 798px; }

.append--21 {
  margin-right: 800px; }

.last.append--21,
.brick:last-child.append--21 {
  margin-right: 798px; }

.brick--22 {
  min-height: 26px;
  width: 824px;
  max-width: 824px;
  flex-basis: 824px; }

.unigrid--col.brick--22,
.unigrid--row.brick--22,
.brick--img.brick--22,
img.brick--22 {
  width: 832px;
  max-width: 832px;
  flex-basis: 832px; }

.prepend--22 {
  margin-left: 838px; }

.first.prepend--22,
.brick:first-child.prepend--22 {
  margin-left: 836px; }

.append--22 {
  margin-right: 838px; }

.last.append--22,
.brick:last-child.append--22 {
  margin-right: 836px; }

.brick--23 {
  min-height: 26px;
  width: 862px;
  max-width: 862px;
  flex-basis: 862px; }

.unigrid--col.brick--23,
.unigrid--row.brick--23,
.brick--img.brick--23,
img.brick--23 {
  width: 870px;
  max-width: 870px;
  flex-basis: 870px; }

.prepend--23 {
  margin-left: 876px; }

.first.prepend--23,
.brick:first-child.prepend--23 {
  margin-left: 874px; }

.append--23 {
  margin-right: 876px; }

.last.append--23,
.brick:last-child.append--23 {
  margin-right: 874px; }

.brick--24 {
  min-height: 26px;
  width: 900px;
  max-width: 900px;
  flex-basis: 900px; }

.unigrid--col.brick--24,
.unigrid--row.brick--24,
.brick--img.brick--24,
img.brick--24 {
  width: 908px;
  max-width: 908px;
  flex-basis: 908px; }

.prepend--24 {
  margin-left: 914px; }

.first.prepend--24,
.brick:first-child.prepend--24 {
  margin-left: 912px; }

.append--24 {
  margin-right: 914px; }

.last.append--24,
.brick:last-child.append--24 {
  margin-right: 912px; }

/*------------------------------------*\
  #GRID-COL
\*------------------------------------*/
.unigrid--col {
  max-height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start; }

.unigrid--col > .brick {
  margin: 2px 0;
  padding: 4px 4px;
  max-width: calc(100% - 8px); }

.unigrid--col > img.brick,
.unigrid--col > .brick--img {
  padding: 0;
  width: auto; }

.unigrid--col > .unigrid--row {
  padding: 0;
  margin: 0;
  max-width: 100%; }

hr.brick--col {
  background: #000;
  height: 38px;
  max-height: 38px;
  flex-basis: 38px;
  width: 100%; }

.brick--col--1 {
  height: 26px;
  max-height: 26px;
  flex-basis: 26px;
  width: 100%; }

.brick--col--1.unigrid--row {
  height: 38px;
  max-height: 38px;
  flex-basis: 38px; }

    /*.unigrid--row.brick--col--1 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--1 > img.brick,
.unigrid--col > img.brick--col--1,
.unigrid--col > .brick--img.brick--col--1 {
  height: 34px;
  max-height: 34px;
  flex-basis: 34px; }

.unigrid--col > .brick.prepend--col--1,
.brick.unigrid--col > .brick:first-child.prepend--col--1,
.brick.unigrid--col > .brick.first.prepend--col--1 {
  margin-top: 40px; }

.unigrid--col > .brick.append--col--1,
.brick.unigrid--col > .brick:last-child.append--col--1,
.brick.unigrid--col > .brick.last.append--col--1 {
  margin-bottom: 40px; }

.brick--col--2 {
  height: 64px;
  max-height: 64px;
  flex-basis: 64px;
  width: 100%; }

.brick--col--2.unigrid--row {
  height: 76px;
  max-height: 76px;
  flex-basis: 76px; }

    /*.unigrid--row.brick--col--2 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--2 > img.brick,
.unigrid--col > img.brick--col--2,
.unigrid--col > .brick--img.brick--col--2 {
  height: 72px;
  max-height: 72px;
  flex-basis: 72px; }

.unigrid--col > .brick.prepend--col--2,
.brick.unigrid--col > .brick:first-child.prepend--col--2,
.brick.unigrid--col > .brick.first.prepend--col--2 {
  margin-top: 78px; }

.unigrid--col > .brick.append--col--2,
.brick.unigrid--col > .brick:last-child.append--col--2,
.brick.unigrid--col > .brick.last.append--col--2 {
  margin-bottom: 78px; }

.brick--col--3 {
  height: 102px;
  max-height: 102px;
  flex-basis: 102px;
  width: 100%; }

.brick--col--3.unigrid--row {
  height: 114px;
  max-height: 114px;
  flex-basis: 114px; }

    /*.unigrid--row.brick--col--3 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--3 > img.brick,
.unigrid--col > img.brick--col--3,
.unigrid--col > .brick--img.brick--col--3 {
  height: 110px;
  max-height: 110px;
  flex-basis: 110px; }

.unigrid--col > .brick.prepend--col--3,
.brick.unigrid--col > .brick:first-child.prepend--col--3,
.brick.unigrid--col > .brick.first.prepend--col--3 {
  margin-top: 116px; }

.unigrid--col > .brick.append--col--3,
.brick.unigrid--col > .brick:last-child.append--col--3,
.brick.unigrid--col > .brick.last.append--col--3 {
  margin-bottom: 116px; }

.brick--col--4 {
  height: 140px;
  max-height: 140px;
  flex-basis: 140px;
  width: 100%; }

.brick--col--4.unigrid--row {
  height: 152px;
  max-height: 152px;
  flex-basis: 152px; }

    /*.unigrid--row.brick--col--4 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--4 > img.brick,
.unigrid--col > img.brick--col--4,
.unigrid--col > .brick--img.brick--col--4 {
  height: 148px;
  max-height: 148px;
  flex-basis: 148px; }

.unigrid--col > .brick.prepend--col--4,
.brick.unigrid--col > .brick:first-child.prepend--col--4,
.brick.unigrid--col > .brick.first.prepend--col--4 {
  margin-top: 154px; }

.unigrid--col > .brick.append--col--4,
.brick.unigrid--col > .brick:last-child.append--col--4,
.brick.unigrid--col > .brick.last.append--col--4 {
  margin-bottom: 154px; }

.brick--col--5 {
  height: 178px;
  max-height: 178px;
  flex-basis: 178px;
  width: 100%; }

.brick--col--5.unigrid--row {
  height: 190px;
  max-height: 190px;
  flex-basis: 190px; }

    /*.unigrid--row.brick--col--5 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--5 > img.brick,
.unigrid--col > img.brick--col--5,
.unigrid--col > .brick--img.brick--col--5 {
  height: 186px;
  max-height: 186px;
  flex-basis: 186px; }

.unigrid--col > .brick.prepend--col--5,
.brick.unigrid--col > .brick:first-child.prepend--col--5,
.brick.unigrid--col > .brick.first.prepend--col--5 {
  margin-top: 192px; }

.unigrid--col > .brick.append--col--5,
.brick.unigrid--col > .brick:last-child.append--col--5,
.brick.unigrid--col > .brick.last.append--col--5 {
  margin-bottom: 192px; }

.brick--col--6 {
  height: 216px;
  max-height: 216px;
  flex-basis: 216px;
  width: 100%; }

.brick--col--6.unigrid--row {
  height: 228px;
  max-height: 228px;
  flex-basis: 228px; }

    /*.unigrid--row.brick--col--6 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--6 > img.brick,
.unigrid--col > img.brick--col--6,
.unigrid--col > .brick--img.brick--col--6 {
  height: 224px;
  max-height: 224px;
  flex-basis: 224px; }

.unigrid--col > .brick.prepend--col--6,
.brick.unigrid--col > .brick:first-child.prepend--col--6,
.brick.unigrid--col > .brick.first.prepend--col--6 {
  margin-top: 230px; }

.unigrid--col > .brick.append--col--6,
.brick.unigrid--col > .brick:last-child.append--col--6,
.brick.unigrid--col > .brick.last.append--col--6 {
  margin-bottom: 230px; }

.brick--col--7 {
  height: 254px;
  max-height: 254px;
  flex-basis: 254px;
  width: 100%; }

.brick--col--7.unigrid--row {
  height: 266px;
  max-height: 266px;
  flex-basis: 266px; }

    /*.unigrid--row.brick--col--7 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--7 > img.brick,
.unigrid--col > img.brick--col--7,
.unigrid--col > .brick--img.brick--col--7 {
  height: 262px;
  max-height: 262px;
  flex-basis: 262px; }

.unigrid--col > .brick.prepend--col--7,
.brick.unigrid--col > .brick:first-child.prepend--col--7,
.brick.unigrid--col > .brick.first.prepend--col--7 {
  margin-top: 268px; }

.unigrid--col > .brick.append--col--7,
.brick.unigrid--col > .brick:last-child.append--col--7,
.brick.unigrid--col > .brick.last.append--col--7 {
  margin-bottom: 268px; }

.brick--col--8 {
  height: 292px;
  max-height: 292px;
  flex-basis: 292px;
  width: 100%; }

.brick--col--8.unigrid--row {
  height: 304px;
  max-height: 304px;
  flex-basis: 304px; }

    /*.unigrid--row.brick--col--8 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--8 > img.brick,
.unigrid--col > img.brick--col--8,
.unigrid--col > .brick--img.brick--col--8 {
  height: 300px;
  max-height: 300px;
  flex-basis: 300px; }

.unigrid--col > .brick.prepend--col--8,
.brick.unigrid--col > .brick:first-child.prepend--col--8,
.brick.unigrid--col > .brick.first.prepend--col--8 {
  margin-top: 306px; }

.unigrid--col > .brick.append--col--8,
.brick.unigrid--col > .brick:last-child.append--col--8,
.brick.unigrid--col > .brick.last.append--col--8 {
  margin-bottom: 306px; }

.brick--col--9 {
  height: 330px;
  max-height: 330px;
  flex-basis: 330px;
  width: 100%; }

.brick--col--9.unigrid--row {
  height: 342px;
  max-height: 342px;
  flex-basis: 342px; }

    /*.unigrid--row.brick--col--9 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--9 > img.brick,
.unigrid--col > img.brick--col--9,
.unigrid--col > .brick--img.brick--col--9 {
  height: 338px;
  max-height: 338px;
  flex-basis: 338px; }

.unigrid--col > .brick.prepend--col--9,
.brick.unigrid--col > .brick:first-child.prepend--col--9,
.brick.unigrid--col > .brick.first.prepend--col--9 {
  margin-top: 344px; }

.unigrid--col > .brick.append--col--9,
.brick.unigrid--col > .brick:last-child.append--col--9,
.brick.unigrid--col > .brick.last.append--col--9 {
  margin-bottom: 344px; }

.brick--col--10 {
  height: 368px;
  max-height: 368px;
  flex-basis: 368px;
  width: 100%; }

.brick--col--10.unigrid--row {
  height: 380px;
  max-height: 380px;
  flex-basis: 380px; }

    /*.unigrid--row.brick--col--10 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--10 > img.brick,
.unigrid--col > img.brick--col--10,
.unigrid--col > .brick--img.brick--col--10 {
  height: 376px;
  max-height: 376px;
  flex-basis: 376px; }

.unigrid--col > .brick.prepend--col--10,
.brick.unigrid--col > .brick:first-child.prepend--col--10,
.brick.unigrid--col > .brick.first.prepend--col--10 {
  margin-top: 382px; }

.unigrid--col > .brick.append--col--10,
.brick.unigrid--col > .brick:last-child.append--col--10,
.brick.unigrid--col > .brick.last.append--col--10 {
  margin-bottom: 382px; }

.brick--col--11 {
  height: 406px;
  max-height: 406px;
  flex-basis: 406px;
  width: 100%; }

.brick--col--11.unigrid--row {
  height: 418px;
  max-height: 418px;
  flex-basis: 418px; }

    /*.unigrid--row.brick--col--11 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--11 > img.brick,
.unigrid--col > img.brick--col--11,
.unigrid--col > .brick--img.brick--col--11 {
  height: 414px;
  max-height: 414px;
  flex-basis: 414px; }

.unigrid--col > .brick.prepend--col--11,
.brick.unigrid--col > .brick:first-child.prepend--col--11,
.brick.unigrid--col > .brick.first.prepend--col--11 {
  margin-top: 420px; }

.unigrid--col > .brick.append--col--11,
.brick.unigrid--col > .brick:last-child.append--col--11,
.brick.unigrid--col > .brick.last.append--col--11 {
  margin-bottom: 420px; }

.brick--col--12 {
  height: 444px;
  max-height: 444px;
  flex-basis: 444px;
  width: 100%; }

.brick--col--12.unigrid--row {
  height: 456px;
  max-height: 456px;
  flex-basis: 456px; }

    /*.unigrid--row.brick--col--12 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--12 > img.brick,
.unigrid--col > img.brick--col--12,
.unigrid--col > .brick--img.brick--col--12 {
  height: 452px;
  max-height: 452px;
  flex-basis: 452px; }

.unigrid--col > .brick.prepend--col--12,
.brick.unigrid--col > .brick:first-child.prepend--col--12,
.brick.unigrid--col > .brick.first.prepend--col--12 {
  margin-top: 458px; }

.unigrid--col > .brick.append--col--12,
.brick.unigrid--col > .brick:last-child.append--col--12,
.brick.unigrid--col > .brick.last.append--col--12 {
  margin-bottom: 458px; }

.brick--col--13 {
  height: 482px;
  max-height: 482px;
  flex-basis: 482px;
  width: 100%; }

.brick--col--13.unigrid--row {
  height: 494px;
  max-height: 494px;
  flex-basis: 494px; }

    /*.unigrid--row.brick--col--13 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--13 > img.brick,
.unigrid--col > img.brick--col--13,
.unigrid--col > .brick--img.brick--col--13 {
  height: 490px;
  max-height: 490px;
  flex-basis: 490px; }

.unigrid--col > .brick.prepend--col--13,
.brick.unigrid--col > .brick:first-child.prepend--col--13,
.brick.unigrid--col > .brick.first.prepend--col--13 {
  margin-top: 496px; }

.unigrid--col > .brick.append--col--13,
.brick.unigrid--col > .brick:last-child.append--col--13,
.brick.unigrid--col > .brick.last.append--col--13 {
  margin-bottom: 496px; }

.brick--col--14 {
  height: 520px;
  max-height: 520px;
  flex-basis: 520px;
  width: 100%; }

.brick--col--14.unigrid--row {
  height: 532px;
  max-height: 532px;
  flex-basis: 532px; }

    /*.unigrid--row.brick--col--14 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--14 > img.brick,
.unigrid--col > img.brick--col--14,
.unigrid--col > .brick--img.brick--col--14 {
  height: 528px;
  max-height: 528px;
  flex-basis: 528px; }

.unigrid--col > .brick.prepend--col--14,
.brick.unigrid--col > .brick:first-child.prepend--col--14,
.brick.unigrid--col > .brick.first.prepend--col--14 {
  margin-top: 534px; }

.unigrid--col > .brick.append--col--14,
.brick.unigrid--col > .brick:last-child.append--col--14,
.brick.unigrid--col > .brick.last.append--col--14 {
  margin-bottom: 534px; }

.brick--col--15 {
  height: 558px;
  max-height: 558px;
  flex-basis: 558px;
  width: 100%; }

.brick--col--15.unigrid--row {
  height: 570px;
  max-height: 570px;
  flex-basis: 570px; }

    /*.unigrid--row.brick--col--15 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--15 > img.brick,
.unigrid--col > img.brick--col--15,
.unigrid--col > .brick--img.brick--col--15 {
  height: 566px;
  max-height: 566px;
  flex-basis: 566px; }

.unigrid--col > .brick.prepend--col--15,
.brick.unigrid--col > .brick:first-child.prepend--col--15,
.brick.unigrid--col > .brick.first.prepend--col--15 {
  margin-top: 572px; }

.unigrid--col > .brick.append--col--15,
.brick.unigrid--col > .brick:last-child.append--col--15,
.brick.unigrid--col > .brick.last.append--col--15 {
  margin-bottom: 572px; }

.brick--col--16 {
  height: 596px;
  max-height: 596px;
  flex-basis: 596px;
  width: 100%; }

.brick--col--16.unigrid--row {
  height: 608px;
  max-height: 608px;
  flex-basis: 608px; }

    /*.unigrid--row.brick--col--16 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--16 > img.brick,
.unigrid--col > img.brick--col--16,
.unigrid--col > .brick--img.brick--col--16 {
  height: 604px;
  max-height: 604px;
  flex-basis: 604px; }

.unigrid--col > .brick.prepend--col--16,
.brick.unigrid--col > .brick:first-child.prepend--col--16,
.brick.unigrid--col > .brick.first.prepend--col--16 {
  margin-top: 610px; }

.unigrid--col > .brick.append--col--16,
.brick.unigrid--col > .brick:last-child.append--col--16,
.brick.unigrid--col > .brick.last.append--col--16 {
  margin-bottom: 610px; }

.brick--col--17 {
  height: 634px;
  max-height: 634px;
  flex-basis: 634px;
  width: 100%; }

.brick--col--17.unigrid--row {
  height: 646px;
  max-height: 646px;
  flex-basis: 646px; }

    /*.unigrid--row.brick--col--17 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--17 > img.brick,
.unigrid--col > img.brick--col--17,
.unigrid--col > .brick--img.brick--col--17 {
  height: 642px;
  max-height: 642px;
  flex-basis: 642px; }

.unigrid--col > .brick.prepend--col--17,
.brick.unigrid--col > .brick:first-child.prepend--col--17,
.brick.unigrid--col > .brick.first.prepend--col--17 {
  margin-top: 648px; }

.unigrid--col > .brick.append--col--17,
.brick.unigrid--col > .brick:last-child.append--col--17,
.brick.unigrid--col > .brick.last.append--col--17 {
  margin-bottom: 648px; }

.brick--col--18 {
  height: 672px;
  max-height: 672px;
  flex-basis: 672px;
  width: 100%; }

.brick--col--18.unigrid--row {
  height: 684px;
  max-height: 684px;
  flex-basis: 684px; }

    /*.unigrid--row.brick--col--18 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--18 > img.brick,
.unigrid--col > img.brick--col--18,
.unigrid--col > .brick--img.brick--col--18 {
  height: 680px;
  max-height: 680px;
  flex-basis: 680px; }

.unigrid--col > .brick.prepend--col--18,
.brick.unigrid--col > .brick:first-child.prepend--col--18,
.brick.unigrid--col > .brick.first.prepend--col--18 {
  margin-top: 686px; }

.unigrid--col > .brick.append--col--18,
.brick.unigrid--col > .brick:last-child.append--col--18,
.brick.unigrid--col > .brick.last.append--col--18 {
  margin-bottom: 686px; }

.brick--col--19 {
  height: 710px;
  max-height: 710px;
  flex-basis: 710px;
  width: 100%; }

.brick--col--19.unigrid--row {
  height: 722px;
  max-height: 722px;
  flex-basis: 722px; }

    /*.unigrid--row.brick--col--19 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--19 > img.brick,
.unigrid--col > img.brick--col--19,
.unigrid--col > .brick--img.brick--col--19 {
  height: 718px;
  max-height: 718px;
  flex-basis: 718px; }

.unigrid--col > .brick.prepend--col--19,
.brick.unigrid--col > .brick:first-child.prepend--col--19,
.brick.unigrid--col > .brick.first.prepend--col--19 {
  margin-top: 724px; }

.unigrid--col > .brick.append--col--19,
.brick.unigrid--col > .brick:last-child.append--col--19,
.brick.unigrid--col > .brick.last.append--col--19 {
  margin-bottom: 724px; }

.brick--col--20 {
  height: 748px;
  max-height: 748px;
  flex-basis: 748px;
  width: 100%; }

.brick--col--20.unigrid--row {
  height: 760px;
  max-height: 760px;
  flex-basis: 760px; }

    /*.unigrid--row.brick--col--20 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--20 > img.brick,
.unigrid--col > img.brick--col--20,
.unigrid--col > .brick--img.brick--col--20 {
  height: 756px;
  max-height: 756px;
  flex-basis: 756px; }

.unigrid--col > .brick.prepend--col--20,
.brick.unigrid--col > .brick:first-child.prepend--col--20,
.brick.unigrid--col > .brick.first.prepend--col--20 {
  margin-top: 762px; }

.unigrid--col > .brick.append--col--20,
.brick.unigrid--col > .brick:last-child.append--col--20,
.brick.unigrid--col > .brick.last.append--col--20 {
  margin-bottom: 762px; }

.brick--col--21 {
  height: 786px;
  max-height: 786px;
  flex-basis: 786px;
  width: 100%; }

.brick--col--21.unigrid--row {
  height: 798px;
  max-height: 798px;
  flex-basis: 798px; }

    /*.unigrid--row.brick--col--21 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--21 > img.brick,
.unigrid--col > img.brick--col--21,
.unigrid--col > .brick--img.brick--col--21 {
  height: 794px;
  max-height: 794px;
  flex-basis: 794px; }

.unigrid--col > .brick.prepend--col--21,
.brick.unigrid--col > .brick:first-child.prepend--col--21,
.brick.unigrid--col > .brick.first.prepend--col--21 {
  margin-top: 800px; }

.unigrid--col > .brick.append--col--21,
.brick.unigrid--col > .brick:last-child.append--col--21,
.brick.unigrid--col > .brick.last.append--col--21 {
  margin-bottom: 800px; }

.brick--col--22 {
  height: 824px;
  max-height: 824px;
  flex-basis: 824px;
  width: 100%; }

.brick--col--22.unigrid--row {
  height: 836px;
  max-height: 836px;
  flex-basis: 836px; }

    /*.unigrid--row.brick--col--22 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--22 > img.brick,
.unigrid--col > img.brick--col--22,
.unigrid--col > .brick--img.brick--col--22 {
  height: 832px;
  max-height: 832px;
  flex-basis: 832px; }

.unigrid--col > .brick.prepend--col--22,
.brick.unigrid--col > .brick:first-child.prepend--col--22,
.brick.unigrid--col > .brick.first.prepend--col--22 {
  margin-top: 838px; }

.unigrid--col > .brick.append--col--22,
.brick.unigrid--col > .brick:last-child.append--col--22,
.brick.unigrid--col > .brick.last.append--col--22 {
  margin-bottom: 838px; }

.brick--col--23 {
  height: 862px;
  max-height: 862px;
  flex-basis: 862px;
  width: 100%; }

.brick--col--23.unigrid--row {
  height: 874px;
  max-height: 874px;
  flex-basis: 874px; }

    /*.unigrid--row.brick--col--23 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--23 > img.brick,
.unigrid--col > img.brick--col--23,
.unigrid--col > .brick--img.brick--col--23 {
  height: 870px;
  max-height: 870px;
  flex-basis: 870px; }

.unigrid--col > .brick.prepend--col--23,
.brick.unigrid--col > .brick:first-child.prepend--col--23,
.brick.unigrid--col > .brick.first.prepend--col--23 {
  margin-top: 876px; }

.unigrid--col > .brick.append--col--23,
.brick.unigrid--col > .brick:last-child.append--col--23,
.brick.unigrid--col > .brick.last.append--col--23 {
  margin-bottom: 876px; }

.brick--col--24 {
  height: 900px;
  max-height: 900px;
  flex-basis: 900px;
  width: 100%; }

.brick--col--24.unigrid--row {
  height: 912px;
  max-height: 912px;
  flex-basis: 912px; }

    /*.unigrid--row.brick--col--24 {
      height: (($grid-brick-height+$grid-gutter)*$i);
      max-height: (($grid-brick-height+$grid-gutter)*$i);
      flex-basis: (($grid-brick-height+$grid-gutter)*$i);

      width: 100%;
    }*/
.brick--col--24 > img.brick,
.unigrid--col > img.brick--col--24,
.unigrid--col > .brick--img.brick--col--24 {
  height: 908px;
  max-height: 908px;
  flex-basis: 908px; }

.unigrid--col > .brick.prepend--col--24,
.brick.unigrid--col > .brick:first-child.prepend--col--24,
.brick.unigrid--col > .brick.first.prepend--col--24 {
  margin-top: 914px; }

.unigrid--col > .brick.append--col--24,
.brick.unigrid--col > .brick:last-child.append--col--24,
.brick.unigrid--col > .brick.last.append--col--24 {
  margin-bottom: 914px; }

@media only screen and (max-width: 767px) {
  /*------------------------------------*\
    #MOBILE-GRID-ROW
  \*------------------------------------*/
  .brick {
    max-width: 100%;
    width: 100%;
    flex-basis: 100%; }

  .brick-mobile--hide {
    display: none; }

  .brick-mobile--show {
    display: flex; }

  .container {
    max-width: 100%;
    height: 100%;
    margin: 0; }

  .unigrid--row {
    max-width: 100%; }

  .brick-mobile--1 {
    flex-basis: calc(8.33333% - 12px);
    max-width: calc(8.33333% - 12px);
    width: calc(8.33333% - 12px); }

  .unigrid--col.brick-mobile--1,
  .unigrid--row.brick-mobile--1,
  .brick--img.brick-mobile--1,
  img.brick-mobile--1 {
    width: calc(8.33333% - 4px);
    max-width: calc(8.33333% - 4px);
    flex-basis: calc(8.33333% - 4px); }

  .prepend--1,
  .first.prepend--1,
  .brick:first-child.prepend--1 {
    margin-left: 0; }

  .append--1,
  .last.append--1,
  .brick:last-child.append--1 {
    margin-right: 0; }

  .prepend-mobile--1,
  .first.prepend-mobile--1,
  .brick:first-child.prepend-mobile--1 {
    margin-left: calc(8.33333% + 2px) !important; }

  .append-mobile--1,
  .last.append-mobile--1,
  .brick:last-child.append-mobile--1 {
    margin-right: calc(8.33333% + 2px) !important; }

  .brick-mobile--2 {
    flex-basis: calc(16.66667% - 12px);
    max-width: calc(16.66667% - 12px);
    width: calc(16.66667% - 12px); }

  .unigrid--col.brick-mobile--2,
  .unigrid--row.brick-mobile--2,
  .brick--img.brick-mobile--2,
  img.brick-mobile--2 {
    width: calc(16.66667% - 4px);
    max-width: calc(16.66667% - 4px);
    flex-basis: calc(16.66667% - 4px); }

  .prepend--2,
  .first.prepend--2,
  .brick:first-child.prepend--2 {
    margin-left: 0; }

  .append--2,
  .last.append--2,
  .brick:last-child.append--2 {
    margin-right: 0; }

  .prepend-mobile--2,
  .first.prepend-mobile--2,
  .brick:first-child.prepend-mobile--2 {
    margin-left: calc(16.66667% + 2px) !important; }

  .append-mobile--2,
  .last.append-mobile--2,
  .brick:last-child.append-mobile--2 {
    margin-right: calc(16.66667% + 2px) !important; }

  .brick-mobile--3 {
    flex-basis: calc(25% - 12px);
    max-width: calc(25% - 12px);
    width: calc(25% - 12px); }

  .unigrid--col.brick-mobile--3,
  .unigrid--row.brick-mobile--3,
  .brick--img.brick-mobile--3,
  img.brick-mobile--3 {
    width: calc(25% - 4px);
    max-width: calc(25% - 4px);
    flex-basis: calc(25% - 4px); }

  .prepend--3,
  .first.prepend--3,
  .brick:first-child.prepend--3 {
    margin-left: 0; }

  .append--3,
  .last.append--3,
  .brick:last-child.append--3 {
    margin-right: 0; }

  .prepend-mobile--3,
  .first.prepend-mobile--3,
  .brick:first-child.prepend-mobile--3 {
    margin-left: calc(25% + 2px) !important; }

  .append-mobile--3,
  .last.append-mobile--3,
  .brick:last-child.append-mobile--3 {
    margin-right: calc(25% + 2px) !important; }

  .brick-mobile--4 {
    flex-basis: calc(33.33333% - 12px);
    max-width: calc(33.33333% - 12px);
    width: calc(33.33333% - 12px); }

  .unigrid--col.brick-mobile--4,
  .unigrid--row.brick-mobile--4,
  .brick--img.brick-mobile--4,
  img.brick-mobile--4 {
    width: calc(33.33333% - 4px);
    max-width: calc(33.33333% - 4px);
    flex-basis: calc(33.33333% - 4px); }

  .prepend--4,
  .first.prepend--4,
  .brick:first-child.prepend--4 {
    margin-left: 0; }

  .append--4,
  .last.append--4,
  .brick:last-child.append--4 {
    margin-right: 0; }

  .prepend-mobile--4,
  .first.prepend-mobile--4,
  .brick:first-child.prepend-mobile--4 {
    margin-left: calc(33.33333% + 2px) !important; }

  .append-mobile--4,
  .last.append-mobile--4,
  .brick:last-child.append-mobile--4 {
    margin-right: calc(33.33333% + 2px) !important; }

  .brick-mobile--5 {
    flex-basis: calc(41.66667% - 12px);
    max-width: calc(41.66667% - 12px);
    width: calc(41.66667% - 12px); }

  .unigrid--col.brick-mobile--5,
  .unigrid--row.brick-mobile--5,
  .brick--img.brick-mobile--5,
  img.brick-mobile--5 {
    width: calc(41.66667% - 4px);
    max-width: calc(41.66667% - 4px);
    flex-basis: calc(41.66667% - 4px); }

  .prepend--5,
  .first.prepend--5,
  .brick:first-child.prepend--5 {
    margin-left: 0; }

  .append--5,
  .last.append--5,
  .brick:last-child.append--5 {
    margin-right: 0; }

  .prepend-mobile--5,
  .first.prepend-mobile--5,
  .brick:first-child.prepend-mobile--5 {
    margin-left: calc(41.66667% + 2px) !important; }

  .append-mobile--5,
  .last.append-mobile--5,
  .brick:last-child.append-mobile--5 {
    margin-right: calc(41.66667% + 2px) !important; }

  .brick-mobile--6 {
    flex-basis: calc(50% - 12px);
    max-width: calc(50% - 12px);
    width: calc(50% - 12px); }

  .unigrid--col.brick-mobile--6,
  .unigrid--row.brick-mobile--6,
  .brick--img.brick-mobile--6,
  img.brick-mobile--6 {
    width: calc(50% - 4px);
    max-width: calc(50% - 4px);
    flex-basis: calc(50% - 4px); }

  .prepend--6,
  .first.prepend--6,
  .brick:first-child.prepend--6 {
    margin-left: 0; }

  .append--6,
  .last.append--6,
  .brick:last-child.append--6 {
    margin-right: 0; }

  .prepend-mobile--6,
  .first.prepend-mobile--6,
  .brick:first-child.prepend-mobile--6 {
    margin-left: calc(50% + 2px) !important; }

  .append-mobile--6,
  .last.append-mobile--6,
  .brick:last-child.append-mobile--6 {
    margin-right: calc(50% + 2px) !important; }

  .brick-mobile--7 {
    flex-basis: calc(58.33333% - 12px);
    max-width: calc(58.33333% - 12px);
    width: calc(58.33333% - 12px); }

  .unigrid--col.brick-mobile--7,
  .unigrid--row.brick-mobile--7,
  .brick--img.brick-mobile--7,
  img.brick-mobile--7 {
    width: calc(58.33333% - 4px);
    max-width: calc(58.33333% - 4px);
    flex-basis: calc(58.33333% - 4px); }

  .prepend--7,
  .first.prepend--7,
  .brick:first-child.prepend--7 {
    margin-left: 0; }

  .append--7,
  .last.append--7,
  .brick:last-child.append--7 {
    margin-right: 0; }

  .prepend-mobile--7,
  .first.prepend-mobile--7,
  .brick:first-child.prepend-mobile--7 {
    margin-left: calc(58.33333% + 2px) !important; }

  .append-mobile--7,
  .last.append-mobile--7,
  .brick:last-child.append-mobile--7 {
    margin-right: calc(58.33333% + 2px) !important; }

  .brick-mobile--8 {
    flex-basis: calc(66.66667% - 12px);
    max-width: calc(66.66667% - 12px);
    width: calc(66.66667% - 12px); }

  .unigrid--col.brick-mobile--8,
  .unigrid--row.brick-mobile--8,
  .brick--img.brick-mobile--8,
  img.brick-mobile--8 {
    width: calc(66.66667% - 4px);
    max-width: calc(66.66667% - 4px);
    flex-basis: calc(66.66667% - 4px); }

  .prepend--8,
  .first.prepend--8,
  .brick:first-child.prepend--8 {
    margin-left: 0; }

  .append--8,
  .last.append--8,
  .brick:last-child.append--8 {
    margin-right: 0; }

  .prepend-mobile--8,
  .first.prepend-mobile--8,
  .brick:first-child.prepend-mobile--8 {
    margin-left: calc(66.66667% + 2px) !important; }

  .append-mobile--8,
  .last.append-mobile--8,
  .brick:last-child.append-mobile--8 {
    margin-right: calc(66.66667% + 2px) !important; }

  .brick-mobile--9 {
    flex-basis: calc(75% - 12px);
    max-width: calc(75% - 12px);
    width: calc(75% - 12px); }

  .unigrid--col.brick-mobile--9,
  .unigrid--row.brick-mobile--9,
  .brick--img.brick-mobile--9,
  img.brick-mobile--9 {
    width: calc(75% - 4px);
    max-width: calc(75% - 4px);
    flex-basis: calc(75% - 4px); }

  .prepend--9,
  .first.prepend--9,
  .brick:first-child.prepend--9 {
    margin-left: 0; }

  .append--9,
  .last.append--9,
  .brick:last-child.append--9 {
    margin-right: 0; }

  .prepend-mobile--9,
  .first.prepend-mobile--9,
  .brick:first-child.prepend-mobile--9 {
    margin-left: calc(75% + 2px) !important; }

  .append-mobile--9,
  .last.append-mobile--9,
  .brick:last-child.append-mobile--9 {
    margin-right: calc(75% + 2px) !important; }

  .brick-mobile--10 {
    flex-basis: calc(83.33333% - 12px);
    max-width: calc(83.33333% - 12px);
    width: calc(83.33333% - 12px); }

  .unigrid--col.brick-mobile--10,
  .unigrid--row.brick-mobile--10,
  .brick--img.brick-mobile--10,
  img.brick-mobile--10 {
    width: calc(83.33333% - 4px);
    max-width: calc(83.33333% - 4px);
    flex-basis: calc(83.33333% - 4px); }

  .prepend--10,
  .first.prepend--10,
  .brick:first-child.prepend--10 {
    margin-left: 0; }

  .append--10,
  .last.append--10,
  .brick:last-child.append--10 {
    margin-right: 0; }

  .prepend-mobile--10,
  .first.prepend-mobile--10,
  .brick:first-child.prepend-mobile--10 {
    margin-left: calc(83.33333% + 2px) !important; }

  .append-mobile--10,
  .last.append-mobile--10,
  .brick:last-child.append-mobile--10 {
    margin-right: calc(83.33333% + 2px) !important; }

  .brick-mobile--11 {
    flex-basis: calc(91.66667% - 12px);
    max-width: calc(91.66667% - 12px);
    width: calc(91.66667% - 12px); }

  .unigrid--col.brick-mobile--11,
  .unigrid--row.brick-mobile--11,
  .brick--img.brick-mobile--11,
  img.brick-mobile--11 {
    width: calc(91.66667% - 4px);
    max-width: calc(91.66667% - 4px);
    flex-basis: calc(91.66667% - 4px); }

  .prepend--11,
  .first.prepend--11,
  .brick:first-child.prepend--11 {
    margin-left: 0; }

  .append--11,
  .last.append--11,
  .brick:last-child.append--11 {
    margin-right: 0; }

  .prepend-mobile--11,
  .first.prepend-mobile--11,
  .brick:first-child.prepend-mobile--11 {
    margin-left: calc(91.66667% + 2px) !important; }

  .append-mobile--11,
  .last.append-mobile--11,
  .brick:last-child.append-mobile--11 {
    margin-right: calc(91.66667% + 2px) !important; }

  .brick-mobile--12 {
    flex-basis: calc(100% - 12px);
    max-width: calc(100% - 12px);
    width: calc(100% - 12px); }

  .unigrid--col.brick-mobile--12,
  .unigrid--row.brick-mobile--12,
  .brick--img.brick-mobile--12,
  img.brick-mobile--12 {
    width: calc(100% - 4px);
    max-width: calc(100% - 4px);
    flex-basis: calc(100% - 4px); }

  .prepend--12,
  .first.prepend--12,
  .brick:first-child.prepend--12 {
    margin-left: 0; }

  .append--12,
  .last.append--12,
  .brick:last-child.append--12 {
    margin-right: 0; }

  .prepend-mobile--12,
  .first.prepend-mobile--12,
  .brick:first-child.prepend-mobile--12 {
    margin-left: calc(100% + 2px) !important; }

  .append-mobile--12,
  .last.append-mobile--12,
  .brick:last-child.append-mobile--12 {
    margin-right: calc(100% + 2px) !important; }

  /*------------------------------------*\
    #MOBILE-GRID-COLUMN
  \*------------------------------------*/
  .unigrid--col > .brick {
    margin: 2px;
    max-width: calc(100% - 12px); }

  .unigrid--col > .unigrid--row {
    height: 100%;
    max-height: 100%;
    flex-basis: 100%;
    margin: 0;
    max-width: 100%; }

  .brick-mobile--col--1 {
    height: 26px;
    max-height: 26px;
    flex-basis: 26px; }

  .unigrid--row.brick-mobile--col--1 {
    height: 38px;
    max-height: 38px;
    flex-basis: 38px; }

  .unigrid--col > .brick.prepend--col--1 {
    margin-top: 2px; }

  .unigrid--col > .brick.append--col--1 {
    margin-bottom: 2px; }

  .unigrid--col > .brick.prepend--col--1,
  .brick.unigrid--col > .brick:first-child.prepend--col--1,
  .brick.unigrid--col > .brick.first.prepend--col--1 {
    margin-top: 40px; }

  .unigrid--col > .brick.append--col--1,
  .brick.unigrid--col > .brick:last-child.append--col--1,
  .brick.unigrid--col > .brick.last.append--col--1 {
    margin-bottom: 40px; }

  .brick-mobile--col--2 {
    height: 64px;
    max-height: 64px;
    flex-basis: 64px; }

  .unigrid--row.brick-mobile--col--2 {
    height: 76px;
    max-height: 76px;
    flex-basis: 76px; }

  .unigrid--col > .brick.prepend--col--2 {
    margin-top: 2px; }

  .unigrid--col > .brick.append--col--2 {
    margin-bottom: 2px; }

  .unigrid--col > .brick.prepend--col--2,
  .brick.unigrid--col > .brick:first-child.prepend--col--2,
  .brick.unigrid--col > .brick.first.prepend--col--2 {
    margin-top: 78px; }

  .unigrid--col > .brick.append--col--2,
  .brick.unigrid--col > .brick:last-child.append--col--2,
  .brick.unigrid--col > .brick.last.append--col--2 {
    margin-bottom: 78px; }

  .brick-mobile--col--3 {
    height: 102px;
    max-height: 102px;
    flex-basis: 102px; }

  .unigrid--row.brick-mobile--col--3 {
    height: 114px;
    max-height: 114px;
    flex-basis: 114px; }

  .unigrid--col > .brick.prepend--col--3 {
    margin-top: 2px; }

  .unigrid--col > .brick.append--col--3 {
    margin-bottom: 2px; }

  .unigrid--col > .brick.prepend--col--3,
  .brick.unigrid--col > .brick:first-child.prepend--col--3,
  .brick.unigrid--col > .brick.first.prepend--col--3 {
    margin-top: 116px; }

  .unigrid--col > .brick.append--col--3,
  .brick.unigrid--col > .brick:last-child.append--col--3,
  .brick.unigrid--col > .brick.last.append--col--3 {
    margin-bottom: 116px; }

  .brick-mobile--col--4 {
    height: 140px;
    max-height: 140px;
    flex-basis: 140px; }

  .unigrid--row.brick-mobile--col--4 {
    height: 152px;
    max-height: 152px;
    flex-basis: 152px; }

  .unigrid--col > .brick.prepend--col--4 {
    margin-top: 2px; }

  .unigrid--col > .brick.append--col--4 {
    margin-bottom: 2px; }

  .unigrid--col > .brick.prepend--col--4,
  .brick.unigrid--col > .brick:first-child.prepend--col--4,
  .brick.unigrid--col > .brick.first.prepend--col--4 {
    margin-top: 154px; }

  .unigrid--col > .brick.append--col--4,
  .brick.unigrid--col > .brick:last-child.append--col--4,
  .brick.unigrid--col > .brick.last.append--col--4 {
    margin-bottom: 154px; }

  .brick-mobile--col--5 {
    height: 178px;
    max-height: 178px;
    flex-basis: 178px; }

  .unigrid--row.brick-mobile--col--5 {
    height: 190px;
    max-height: 190px;
    flex-basis: 190px; }

  .unigrid--col > .brick.prepend--col--5 {
    margin-top: 2px; }

  .unigrid--col > .brick.append--col--5 {
    margin-bottom: 2px; }

  .unigrid--col > .brick.prepend--col--5,
  .brick.unigrid--col > .brick:first-child.prepend--col--5,
  .brick.unigrid--col > .brick.first.prepend--col--5 {
    margin-top: 192px; }

  .unigrid--col > .brick.append--col--5,
  .brick.unigrid--col > .brick:last-child.append--col--5,
  .brick.unigrid--col > .brick.last.append--col--5 {
    margin-bottom: 192px; }

  .brick-mobile--col--6 {
    height: 216px;
    max-height: 216px;
    flex-basis: 216px; }

  .unigrid--row.brick-mobile--col--6 {
    height: 228px;
    max-height: 228px;
    flex-basis: 228px; }

  .unigrid--col > .brick.prepend--col--6 {
    margin-top: 2px; }

  .unigrid--col > .brick.append--col--6 {
    margin-bottom: 2px; }

  .unigrid--col > .brick.prepend--col--6,
  .brick.unigrid--col > .brick:first-child.prepend--col--6,
  .brick.unigrid--col > .brick.first.prepend--col--6 {
    margin-top: 230px; }

  .unigrid--col > .brick.append--col--6,
  .brick.unigrid--col > .brick:last-child.append--col--6,
  .brick.unigrid--col > .brick.last.append--col--6 {
    margin-bottom: 230px; }

  .brick-mobile--col--7 {
    height: 254px;
    max-height: 254px;
    flex-basis: 254px; }

  .unigrid--row.brick-mobile--col--7 {
    height: 266px;
    max-height: 266px;
    flex-basis: 266px; }

  .unigrid--col > .brick.prepend--col--7 {
    margin-top: 2px; }

  .unigrid--col > .brick.append--col--7 {
    margin-bottom: 2px; }

  .unigrid--col > .brick.prepend--col--7,
  .brick.unigrid--col > .brick:first-child.prepend--col--7,
  .brick.unigrid--col > .brick.first.prepend--col--7 {
    margin-top: 268px; }

  .unigrid--col > .brick.append--col--7,
  .brick.unigrid--col > .brick:last-child.append--col--7,
  .brick.unigrid--col > .brick.last.append--col--7 {
    margin-bottom: 268px; }

  .brick-mobile--col--8 {
    height: 292px;
    max-height: 292px;
    flex-basis: 292px; }

  .unigrid--row.brick-mobile--col--8 {
    height: 304px;
    max-height: 304px;
    flex-basis: 304px; }

  .unigrid--col > .brick.prepend--col--8 {
    margin-top: 2px; }

  .unigrid--col > .brick.append--col--8 {
    margin-bottom: 2px; }

  .unigrid--col > .brick.prepend--col--8,
  .brick.unigrid--col > .brick:first-child.prepend--col--8,
  .brick.unigrid--col > .brick.first.prepend--col--8 {
    margin-top: 306px; }

  .unigrid--col > .brick.append--col--8,
  .brick.unigrid--col > .brick:last-child.append--col--8,
  .brick.unigrid--col > .brick.last.append--col--8 {
    margin-bottom: 306px; }

  .brick-mobile--col--9 {
    height: 330px;
    max-height: 330px;
    flex-basis: 330px; }

  .unigrid--row.brick-mobile--col--9 {
    height: 342px;
    max-height: 342px;
    flex-basis: 342px; }

  .unigrid--col > .brick.prepend--col--9 {
    margin-top: 2px; }

  .unigrid--col > .brick.append--col--9 {
    margin-bottom: 2px; }

  .unigrid--col > .brick.prepend--col--9,
  .brick.unigrid--col > .brick:first-child.prepend--col--9,
  .brick.unigrid--col > .brick.first.prepend--col--9 {
    margin-top: 344px; }

  .unigrid--col > .brick.append--col--9,
  .brick.unigrid--col > .brick:last-child.append--col--9,
  .brick.unigrid--col > .brick.last.append--col--9 {
    margin-bottom: 344px; }

  .brick-mobile--col--10 {
    height: 368px;
    max-height: 368px;
    flex-basis: 368px; }

  .unigrid--row.brick-mobile--col--10 {
    height: 380px;
    max-height: 380px;
    flex-basis: 380px; }

  .unigrid--col > .brick.prepend--col--10 {
    margin-top: 2px; }

  .unigrid--col > .brick.append--col--10 {
    margin-bottom: 2px; }

  .unigrid--col > .brick.prepend--col--10,
  .brick.unigrid--col > .brick:first-child.prepend--col--10,
  .brick.unigrid--col > .brick.first.prepend--col--10 {
    margin-top: 382px; }

  .unigrid--col > .brick.append--col--10,
  .brick.unigrid--col > .brick:last-child.append--col--10,
  .brick.unigrid--col > .brick.last.append--col--10 {
    margin-bottom: 382px; }

  .brick-mobile--col--11 {
    height: 406px;
    max-height: 406px;
    flex-basis: 406px; }

  .unigrid--row.brick-mobile--col--11 {
    height: 418px;
    max-height: 418px;
    flex-basis: 418px; }

  .unigrid--col > .brick.prepend--col--11 {
    margin-top: 2px; }

  .unigrid--col > .brick.append--col--11 {
    margin-bottom: 2px; }

  .unigrid--col > .brick.prepend--col--11,
  .brick.unigrid--col > .brick:first-child.prepend--col--11,
  .brick.unigrid--col > .brick.first.prepend--col--11 {
    margin-top: 420px; }

  .unigrid--col > .brick.append--col--11,
  .brick.unigrid--col > .brick:last-child.append--col--11,
  .brick.unigrid--col > .brick.last.append--col--11 {
    margin-bottom: 420px; }

  .brick-mobile--col--12 {
    height: 444px;
    max-height: 444px;
    flex-basis: 444px; }

  .unigrid--row.brick-mobile--col--12 {
    height: 456px;
    max-height: 456px;
    flex-basis: 456px; }

  .unigrid--col > .brick.prepend--col--12 {
    margin-top: 2px; }

  .unigrid--col > .brick.append--col--12 {
    margin-bottom: 2px; }

  .unigrid--col > .brick.prepend--col--12,
  .brick.unigrid--col > .brick:first-child.prepend--col--12,
  .brick.unigrid--col > .brick.first.prepend--col--12 {
    margin-top: 458px; }

  .unigrid--col > .brick.append--col--12,
  .brick.unigrid--col > .brick:last-child.append--col--12,
  .brick.unigrid--col > .brick.last.append--col--12 {
    margin-bottom: 458px; }

  /*------------------------------------*\
    #MOBILE-GRID-ORDER
  \*------------------------------------*/
  .order-mobile--1 {
    order: 1; }

  .order-mobile--2 {
    order: 2; }

  .order-mobile--3 {
    order: 3; }

  .order-mobile--4 {
    order: 4; }

  .order-mobile--5 {
    order: 5; }

  .order-mobile--6 {
    order: 6; }

  .order-mobile--7 {
    order: 7; }

  .order-mobile--8 {
    order: 8; }

  .order-mobile--9 {
    order: 9; }

  .order-mobile--10 {
    order: 10; }

  .order-mobile--11 {
    order: 11; }

  .order-mobile--12 {
    order: 12; } }

/*# sourceMappingURL=unigrid-grid.css.map */
