/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-CORE
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-TYPO
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-FORMS
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-PIKTOS
\*------------------------------------*/
/* ==== CSS for modules using a PIFA form ==== */
/* == Positioning labels beneath their form fields ==
All labels should be displayed left of their form fields.
The surrounding division has to clear the floating though. */
.form-group,
.pifa-form div {
  display: block;
  margin-bottom: 15px; }

.form-group label,
.pifa-form label {
  width: calc(38.1966% - 4px);
  float: left;
  font-weight: 700;
  padding: 6px 0;
  line-height: 23px; }

/* == Styling obligatory fields  ==
The class pifa-obligatory is set to all divisions containing an obligatory field.
In this case ' *' is appended to any label describing an obligatory field.
Unfortunately this doesn't seem to work in IE though.*/
.pifa-obligatory .pifa-field-lbl:after {
  content: ' *'; }

/*
gov.uk: dont indicate obligatory fields, indicate OPTIONAL fields!
.form-group label:after,
.pifa-field-lbl:after {
  content: ' (optional)';
}

.pifa-obligatory .pifa-field-lbl:after {
  content: '';
}
*/
.checkbox_wrapper {
  display: inline-block;
  padding: 0;
  width: 100%; }

.checkbox_wrapper input {
  float: left;
  font-size: 14px; }

.checkbox_wrapper label {
  width: auto;
  float: none;
  padding: 0 4px; }

/* == Styling fields according to their field types ==
In order to style fields according to their field types a class pifa-field-<n>
is set to all form fields where <n> is its type id. */
.form-control,
.pifa-field-1 input,
.pifa-field-2 input,
.pifa-field-3 input,
.pifa-field-6 input,
.pifa-field-7 input,
.pifa-field-8 input,
.pifa-field-9 input,
.pifa-field-15 span,
.pifa-field-4 span,
.pifa-field-5 span {
  width: calc(61.8034% - 12px);
  padding: 4px;
  border: 2px solid #333;
  font-size: 14px;
  line-height: 23px; }

/* BUTTONSUBMIT */
.pifa-field-13,
.pifa-field-14 {
  padding: 4px 0;
  display: inline-block; }

/* BUTTONSUBMIT */
.pifa-field-13 input,
.pifa-field-14 input,
input[type='submit'],
input[type='button'],
button {
  float: none;
  width: auto;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background-color: #e6e6e6;
  -webkit-box-shadow: 0 4px 0 0 #adadad !important;
  -moz-box-shadow: 0 4px 0 0 #adadad !important;
  box-shadow: 0 4px 0 0 #adadad !important;
  transition: 0.1s; }

/* BUTTONSUBMIT */
.pifa-field-13 input,
input[type='submit'],
button[type='submit'] {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  -webkit-box-shadow: 0 4px 0 0 #23527c !important;
  -moz-box-shadow: 0 4px 0 0 #23527c !important;
  box-shadow: 0 4px 0 0 #23527c !important;
  font-weight: bold; }

/* INPUTRADIO */
.pifa-field-4 span,
.pifa-field-5 span {
  border: none;
  padding: 0; }

/* PROCESSBAR */
/* SLIDER */
/* CAPTCHA */
/*.pifa-field-12 {}*/
/* MATRIX */
/* PARA */
/* INPUTHIDDEN */
/* BUTTONIMAGE */
/* == Styling fields with erroneous data  ==
The class pifa-error is set to all divisions containing a field with erroneous
data. */
div.pifa-error {
  border: 1px solid red; }

.checkbox,
.radio {
  margin-left: calc(38.1966% - 4px); }

.checkbox > label,
.radio > label {
  display: block;
  position: relative;
  padding-left: 33px;
  margin-bottom: 15px;
  cursor: pointer; }

.checkbox > label::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  height: 23px;
  width: 23px;
  border: 2px solid #333;
  background: white; }

.checkbox > input:checked ~ label:after {
  content: '';
  position: absolute;
  left: 10px;
  top: 4px;
  border: solid #333;
  width: 4px;
  height: 10px;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg); }

.checkbox2 > label > input {
  margin-left: -22px; }

.checkbox2 > label > input:checked:after {
  content: '';
  position: absolute;
  left: 10px;
  top: 4px;
  border: solid #333;
  width: 4px;
  height: 10px;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg); }

.checkbox > input:not([disabled]):focus ~ label::before,
.radio > input:not([disabled]):focus ~ label::before {
  -webkit-box-shadow: 0 0 0 2px #e7a61a;
  -moz-box-shadow: 0 0 0 2px #e7a61a;
  box-shadow: 0 0 0 2px #e7a61a; }

.checkbox > input,
.radio > input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.checkbox > input:disabled ~ label:before,
.checkbox > input:disabled ~ label:after,
.radio > input:disabled ~ label:before {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none; }

.radio > input:disabled ~ label:after {
  opacity: 0.6; }

.checkbox > input:not([disabled]) ~ label:hover::before,
.radio > input:not([disabled]) ~ label:hover::before {
  -webkit-box-shadow: 0 0 0 2px #e7a61a;
  -moz-box-shadow: 0 0 0 2px #e7a61a;
  box-shadow: 0 0 0 2px #e7a61a; }

.radio > label::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  border: 2px solid #333; }

.radio > input:checked ~ label:after {
  content: '';
  position: absolute;
  left: 7px;
  top: 5px;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: #333; }

.select {
  position: relative;
  display: inline-block;
  width: 61.8034%; }

.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 6px;
  line-height: 23px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

.select select::-ms-expand {
  display: none; }

.select select:hover,
.select select:focus {
  color: #000;
  background: #adadad; }

.select select:disabled {
  opacity: 0.5;
  pointer-events: none; }

.select__arrow {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #333 transparent transparent transparent; }

.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000; }

.select select:disabled ~ .select__arrow {
  border-top-color: #adadad; }

/*# sourceMappingURL=unigrid-forms.css.map */
