/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-CORE
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-TYPO
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-FORMS
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-PIKTOS
\*------------------------------------*/
@import "https://fonts.googleapis.com/css?family=Montserrat";
.show-border .brick {
  background-color: rgba(204, 204, 204, 0.5); }

.show-border .content {
  color: #fff;
  background-color: #cccccc;
  min-height: 32px;
  height: 100%;
  width: 100%; }

.show-border .unigrid--col .content {
  background-color: rgba(139, 0, 0, 0.75); }

.grid,
.col-grid,
.mobile-grid,
.mobile-col-grid {
  height: 100%;
  position: absolute;
  display: none;
  z-index: 1030; }

.mobile-col-grid > .brick {
  margin-left: 0;
  margin-right: 0; }

.show-grid.grid,
.show-grid.mobile-grid {
  display: flex; }

.show-grid.col-grid,
.show-grid.mobile-col-grid {
  display: block; }

.grid .brick {
  border-right: 1px solid red;
  border-left: 1px solid red;
  padding: 3px;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 34px;
  flex-basis: 34px;
  background: none; }
  .grid .brick div {
    border-right: 1px solid orange;
    border-left: 1px solid orange;
    font-size: 0.75em;
    height: 100%; }

.col-grid .brick {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  width: 100%;
  max-width: 100%;
  padding: 1px 0;
  height: 36px;
  max-height: 36px;
  background: none; }
  .col-grid .brick div {
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    font-size: 0.75em;
    height: calc(100% - 2px);
    line-height: 1; }

.mobile-grid .brick {
  border-right: 1px solid red;
  border-left: 1px solid red;
  padding: 3px;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  max-width: calc(8.33333% - 13px);
  flex-basis: calc(8.33333% - 13px);
  background: none; }
  .mobile-grid .brick div {
    border-right: 1px solid orange;
    border-left: 1px solid orange;
    font-size: 0.75em;
    height: 100%; }

.mobile-col-grid .brick {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  max-width: 100%;
  padding: 1px 0;
  max-height: 36px;
  flex-basis: 36px;
  background: none; }
  .mobile-col-grid .brick div {
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    font-size: 0.75em;
    height: calc(100% - 2px);
    line-height: 1;
    width: 100%; }

/*
.brick:first-child {
  background-color: green;
}

.brick:last-child{
  background-color: blue;
}

.brick:only-child {
  background-color: blueviolet;
}

.rulers .brick:first-child,
.rulers .brick:last-child,
.rulers .brick:only-child {
  background-color: transparent;
}
*/
body {
  font-family: 'Helvetica Neue','Montserrat';
  background: #f5f5f5; }

.wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px; }

.card {
  margin: 10px 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff; }

.card-narrow {
  width: 1146px; }

.content {
  color: #000;
  font-size: 12px;
  margin: 0;
  height: inherit; }

/* divers */
.toolbar {
  position: fixed;
  right: 0;
  top: 0; }

.pikto-thumbnail {
  text-align: center; }

.pikto-thumbnail small {
  font-size: 0.68em;
  line-height: 10px; }

#hamburger-grid {
  margin-top: 86px; }

#hamburger-col-grid,
#show-border {
  margin-top: 6px; }

.grid-generator .form-group label {
  width: calc(50% - 8px); }

.grid-generator .form-control {
  width: calc(50% - 12px); }

.grid-value:after {
  content: attr(data-value); }

/*# sourceMappingURL=example.css.map */
