/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-CORE
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-TYPO
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-FORMS
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-PIKTOS
\*------------------------------------*/
/* --------------------------------------------------------------

   _typography.scss
   * Sets up some sensible default typography.

-------------------------------------------------------------- */
@font-face {
  font-family: 'Example-Font';
  src: url(".//example-font.eot");
  src: url(".//example-font.woff") format("woff"), url(".//example-font.ttf") format("truetype"), url(".//example-font.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 100.01%; }

body {
  font-size: 14px;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 23px; }

h1, h2, h3, h4, h5, h6 {
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  margin: 0; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 1em; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

/*
p {
  -webkit-margin-before: $paragraph-margin;
  -webkit-margin-after: 0;
}
*/
body {
  margin: 0; }

.navbar {
  z-index: 1035;
  height: 72px; }

.navbar > .container {
  display: flex; }

.navbar-default {
  background: #000;
  color: #fff; }

.navbar-fixed {
  width: 100%;
  position: fixed;
  top: 0; }

.navbar-fixed + .container {
  margin-top: 72px; }

.navbar-header {
  width: 38.1966%;
  display: inline-block; }

.navbar-header + div {
  width: calc(61.8034% - 48px);
  display: inline-block; }

.navbar .c-hamburger {
  margin: auto 0; }

a.navbar-brand {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  line-height: normal; }

.navbar-nav {
  list-style-type: none; }
  .navbar-nav a,
  .navbar-nav a:visited {
    color: #fff; }
  .navbar-nav a.is-active {
    background: darkgrey; }

.nav > li {
  margin: 2px;
  display: inline-block; }

.nav > li:first-child {
  margin-left: 0; }

.nav > li:last-child {
  margin-right: 0; }

.footer-fixed {
  margin-bottom: 32px !important; }

.footer-fixed + .footer {
  width: 100%;
  position: fixed;
  bottom: 0; }

.footer-default {
  background: #000;
  color: #fff;
  height: 34px; }

@media only screen and (max-width: 767px) {
  .navbar-header {
    width: calc(100% - 48px);
    margin-top: 12.98684px; }

  a.navbar-brand {
    font-size: 28px; }

  .navbar-nav a,
  .navbar-nav a:visited {
    color: black; }
  .navbar-nav a.is-active {
    background: darkgrey; }

  .nav > li,
  .nav > li:first-child,
  .nav > li:last-child {
    margin: 2px;
    display: block; }

  .navbar .c-hamburger {
    margin: auto 0; }

  .navbar-header + div {
    width: 300px;
    display: block; } }
/* column
  $color-rare: #A58E4A;
*/
.golden-ratio--column {
  display: flex;
  flex-direction: column;
  height: 100%; }

.golden-ratio--column .column--tall {
  height: 61.8034%;
  width: 100%;
  display: block; }

.golden-ratio--column .column--small {
  height: 38.1966%;
  width: 100%;
  display: block; }

/* row */
.golden-ratio--row {
  display: flex;
  flex-direction: row;
  height: 100%; }

.row--flex-height {
  height: auto; }

.golden-ratio--row .row--tall {
  width: 61.8034%;
  height: 100%;
  display: block; }

.golden-ratio--row .row--small {
  width: 38.1966%;
  height: 100%;
  display: block; }

.row--small:first-of-type,
.row--tall:first-of-type {
  margin-right: 1em; }

.gold {
  background-color: gold; }

.black {
  background-color: #333;
  color: white; }

/* ==== CSS for modules using a PIFA form ==== */
/* == Positioning labels beneath their form fields ==
All labels should be displayed left of their form fields.
The surrounding division has to clear the floating though. */
.form-group,
.pifa-form div {
  clear: both; }

.form-group label,
.pifa-form label {
  width: calc(38.1966% - 8px);
  float: left;
  padding: 4px; }

/* == Styling obligatory fields  ==
The class pifa-obligatory is set to all divisions containing an obligatory field.
In this case ' *' is appended to any label describing an obligatory field.
Unfortunately this doesn't seem to work in IE though.*/
.pifa-obligatory .pifa-field-lbl:after {
  content: ' *'; }

/*
gov.uk: dont indicate obligatory fields, indicate OPTIONAL fields!
.form-group label:after,
.pifa-field-lbl:after {
  content: ' (optional)';
}

.pifa-obligatory .pifa-field-lbl:after {
  content: '';
}
*/
.checkbox_wrapper {
  display: inline-block;
  padding: 0;
  width: 100%; }

.checkbox_wrapper input {
  float: left;
  font-size: 14px; }

.checkbox_wrapper label {
  width: auto;
  padding: 0 4px; }

/* == Styling fields according to their field types ==
In order to style fields according to their field types a class pifa-field-<n>
is set to all form fields where <n> is its type id. */
.form-control,
.pifa-field-1 input,
.pifa-field-2 input,
.pifa-field-3 input,
.pifa-field-6 input,
.pifa-field-7 input,
.pifa-field-8 input,
.pifa-field-9 input,
.pifa-field-15 span,
.pifa-field-4 span,
.pifa-field-5 span {
  width: calc(61.8034% - 12px);
  float: left;
  padding: 4px;
  border: 2px solid #333;
  font-size: 14px; }

/* BUTTONSUBMIT */
.pifa-field-13,
.pifa-field-14 {
  padding: 4px 0;
  display: inline-block; }

/* BUTTONSUBMIT */
.pifa-field-13 input,
.pifa-field-14 input,
input[type='submit'],
input[type='button'],
button {
  float: none;
  width: auto;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background-color: #e6e6e6;
  -webkit-box-shadow: 0 4px 0 0 #adadad !important;
  -moz-box-shadow: 0 4px 0 0 #adadad !important;
  box-shadow: 0 4px 0 0 #adadad !important;
  transition: 0.1s; }

/* BUTTONSUBMIT */
.pifa-field-13 input,
input[type='submit'],
button[type='submit'] {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  -webkit-box-shadow: 0 4px 0 0 #23527c !important;
  -moz-box-shadow: 0 4px 0 0 #23527c !important;
  box-shadow: 0 4px 0 0 #23527c !important;
  font-weight: bold; }

/* INPUTRADIO */
.pifa-field-4 span,
.pifa-field-5 span {
  border: none;
  padding: 0; }

/* PROCESSBAR */
/* SLIDER */
/* CAPTCHA */
/*.pifa-field-12 {}*/
/* MATRIX */
/* PARA */
/* INPUTHIDDEN */
/* BUTTONIMAGE */
/* == Styling fields with erroneous data  ==
The class pifa-error is set to all divisions containing a field with erroneous
data. */
div.pifa-error {
  border: 1px solid red; }

.show-border .brick {
  background-color: rgba(204, 204, 204, 0.5); }

.show-border .content {
  color: #fff;
  background-color: #cccccc;
  min-height: 26px;
  height: 100%;
  width: 100%; }

.show-border .unigrid--col .content {
  background-color: rgba(139, 0, 0, 0.75); }

.grid,
.col-grid,
.mobile-grid,
.mobile-col-grid {
  height: 100%;
  position: absolute;
  display: none;
  z-index: 1030; }

.mobile-col-grid > .brick {
  margin-left: 0;
  margin-right: 0; }

.show-grid.grid,
.show-grid.mobile-grid {
  display: flex; }

.show-grid.col-grid,
.show-grid.mobile-col-grid {
  display: block; }

.grid .brick {
  border-right: 1px solid red;
  border-left: 1px solid red;
  padding: 3px;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 26px;
  flex-basis: 26px;
  background: none; }
  .grid .brick div {
    border-right: 1px solid orange;
    border-left: 1px solid orange;
    font-size: 0.75em;
    height: 100%; }

.col-grid .brick {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  width: 100%;
  max-width: 100%;
  padding: 3px 0;
  height: 26px;
  max-height: 26px;
  background: none; }
  .col-grid .brick div {
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    font-size: 0.75em;
    height: calc(100% - 2px);
    line-height: 1; }

.mobile-grid .brick {
  border-right: 1px solid red;
  border-left: 1px solid red;
  padding: 3px;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  max-width: calc(8.33333% - 12px);
  flex-basis: calc(8.33333% - 12px);
  background: none; }
  .mobile-grid .brick div {
    border-right: 1px solid orange;
    border-left: 1px solid orange;
    font-size: 0.75em;
    height: 100%; }

.mobile-col-grid .brick {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  max-width: 100%;
  padding: 3px 0;
  max-height: 26px;
  flex-basis: 26px;
  background: none; }
  .mobile-col-grid .brick div {
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    font-size: 0.75em;
    height: calc(100% - 2px);
    line-height: 1;
    width: 100%; }

/*
.brick:first-child {
  background-color: green;
}

.brick:last-child{
  background-color: blue;
}

.brick:only-child {
  background-color: blueviolet;
}

.rulers .brick:first-child,
.rulers .brick:last-child,
.rulers .brick:only-child {
  background-color: transparent;
}
*/

/*# sourceMappingURL=unigrid-generator.css.map */
