/* --------------------------------------------------------------

   _typography.scss
   * Sets up some sensible default typography.

-------------------------------------------------------------- */
@font-face {
  font-family: 'Example-Font';
  src: url(".//example-font.eot");
  src: url(".//example-font.woff") format("woff"), url(".//example-font.ttf") format("truetype"), url(".//example-font.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 100.01%; }

body {
  font-size: 14px;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 23px; }

/*
h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
}
h1 { font-size:$font-size-h1;line-height:1;margin-bottom:0.5em;}
h2 { font-size:$font-size-h2;margin-bottom:0.75em;}
h3 { font-size:$font-size-h3;line-height:1;margin-bottom:1em;}
h4 { font-size:$font-size-h4;line-height:1.25;margin-bottom:1.25em;}
h5 { font-size:$font-size-h5;font-weight:bold;margin-bottom:1.5em;}
h6 { font-size:$font-size-h6;font-weight:bold;}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin:0;
}
*/
/*
p {
  -webkit-margin-before: $paragraph-margin;
  -webkit-margin-after: 0;
}
*/
/*------------------------------------*\
  #PIKTOS
\*------------------------------------*/
.pikto-before::before {
  content: url("./upload/piktos/pikto-frage.png");
  margin-right: 0.2em;
  vertical-align: middle; }

.pikto-after::after,
.pikto::after {
  content: url("./upload/piktos/pikto-frage.png");
  margin-left: 0.2em;
  vertical-align: middle; }

.pikto--default.pikto-before::before,
.pikto--default.pikto-after::after {
  content: url("./upload/piktos/pikto-frage.png"); }

.pikto--ai.pikto-before::before,
.pikto--ai.pikto-after::after,
.pikto[href$='.ai']::after {
  content: url("./upload/piktos/pikto-ai.png"); }

.pikto--audio.pikto-before::before,
.pikto--audio.pikto-after::after,
.pikto[href$='.wav']::after,
.pikto[href$='.mp3']::after {
  content: url("./upload/piktos/pikto-audio.png"); }

.pikto--image.pikto-before::before,
.pikto--image.pikto-after::after {
  content: url("./upload/piktos/pikto-bild.png"); }

.pikto--mail.pikto-before::before,
.pikto--mail.pikto-after::after,
.pikto[href^='mailto:']::after {
  content: url("./upload/piktos/pikto-brief.png"); }

.pikto--emf.pikto-before::before,
.pikto--emf.pikto-after::after,
.pikto[href$='.emf']::after {
  content: url("./upload/piktos/pikto-emf.png"); }

.pikto--eps.pikto-before::before,
.pikto--eps.pikto-after::after,
.pikto[href$='.eps']::after {
  content: url("./upload/piktos/pikto-eps.png"); }

.pikto--excel.pikto-before::before,
.pikto--excel.pikto-after::after,
.pikto[href$='.xls']::after,
.pikto[href$='.xlsx']::after {
  content: url("./upload/piktos/pikto-excel.png"); }

.pikto--video.pikto-before::before,
.pikto--video.pikto-after::after,
.pikto[href$='.avi']::after,
.pikto[href$='.flv']::after,
.pikto[href$='.mpg']::after,
.pikto[href$='.mpeg']::after,
.pikto[href$='.wmv']::after {
  content: url("./upload/piktos/pikto-film.png"); }

.pikto--gif.pikto-before::before,
.pikto--gif.pikto-after::after,
.pikto[href$='.gif']::after {
  content: url("./upload/piktos/pikto-gif.png"); }

.pikto--indd.pikto-before::before,
.pikto--indd.pikto-after::after,
.pikto[href$='.indd']::after {
  content: url("./upload/piktos/pikto-indd.png"); }

.pikto--link-intern.pikto-before::before,
.pikto--link-intern.pikto-after::after,
.pikto[href^='http']::after {
  content: url("./upload/piktos/pikto-linkintern.png"); }

.pikto--link.pikto-before::before,
.pikto--link.pikto-after::after,
.pikto[target='_blank']::after {
  content: url("./upload/piktos/pikto-internet.png"); }

.pikto--jpg.pikto-before::before,
.pikto--jpg.pikto-after::after,
.pikto[href$='.jpg']::after,
.pikto[href$='.jpeg']::after {
  content: url("./upload/piktos/pikto-jpg.png"); }

.pikto--pdf.pikto-before::before,
.pikto--pdf.pikto-after::after,
.pikto[href$='.pdf']::after {
  content: url("./upload/piktos/pikto-pdf.png"); }

.pikto--png.pikto-before::before,
.pikto--png.pikto-after::after,
.pikto[href$='.png']::after {
  content: url("./upload/piktos/pikto-png.png"); }

.pikto--ppt.pikto-before::before,
.pikto--ppt.pikto-after::after,
.pikto[href$='.ppt']::after,
.pikto[href$='.pptx']::after {
  content: url("./upload/piktos/pikto-powerpoint.png"); }

.pikto--psd.pikto-before::before,
.pikto--psd.pikto-after::after,
.pikto[href$='.psd']::after {
  content: url("./upload/piktos/pikto-psd.png"); }

.pikto--qt.pikto-before::before,
.pikto--qt.pikto-after::after {
  content: url("./upload/piktos/pikto-quicktime.png"); }

.pikto--swf.pikto-before::before,
.pikto--swf.pikto-after::after,
.pikto[href$='.swf']::after {
  content: url("./upload/piktos/pikto-swf.png"); }

.pikto--tif.pikto-before::before,
.pikto--tif.pikto-after::after,
.pikto[href$='.tif']::after {
  content: url("./upload/piktos/pikto-tif.png"); }

.pikto--word.pikto-before::before,
.pikto--word.pikto-after::after,
.pikto[href$='.doc']::after,
.pikto[href$='.docx']::after {
  content: url("./upload/piktos/pikto-word.png"); }

.pikto--zip.pikto-before::before,
.pikto--zip.pikto-after::after,
.pikto[href$='.zip']::after {
  content: url("./upload/piktos/pikto-zip.png"); }

/* ==== CSS for modules using a PIFA form ==== */
/* == Positioning labels beneath their form fields ==
All labels should be displayed left of their form fields.
The surrounding division has to clear the floating though. */
.form-group,
.pifa-form div {
  clear: both; }

.form-group label,
.pifa-form label {
  width: calc(30% - 8px);
  float: left;
  padding: 4px; }

/* == Styling obligatory fields  ==
The class pifa-obligatory is set to all divisions containing an obligatory field.
In this case ' *' is appended to any label describing an obligatory field.
Unfortunately this doesn't seem to work in IE though.*/
.pifa-obligatory .pifa-field-lbl:after {
  content: ' *'; }

/*
gov.uk: dont indicate obligatory fields, indicate OPTIONAL fields!
.form-group label:after,
.pifa-field-lbl:after {
  content: ' (optional)';
}

.pifa-obligatory .pifa-field-lbl:after {
  content: '';
}
*/
.checkbox_wrapper {
  display: inline-block;
  padding: 0;
  width: 100%; }

.checkbox_wrapper input {
  float: left;
  font-size: 14px; }

.checkbox_wrapper label {
  width: auto;
  padding: 0 4px; }

/* == Styling fields according to their field types ==
In order to style fields according to their field types a class pifa-field-<n>
is set to all form fields where <n> is its type id. */
.form-control,
.pifa-field-1 input,
.pifa-field-2 input,
.pifa-field-3 input,
.pifa-field-6 input,
.pifa-field-7 input,
.pifa-field-8 input,
.pifa-field-9 input,
.pifa-field-15 span,
.pifa-field-4 span,
.pifa-field-5 span {
  width: calc(70% - 12px);
  float: left;
  padding: 4px;
  border: 2px solid #333;
  font-size: 14px; }

/* BUTTONSUBMIT */
.pifa-field-13,
.pifa-field-14 {
  padding: 4px 0;
  display: inline-block; }

/* BUTTONSUBMIT */
.pifa-field-13 input,
.pifa-field-14 input,
input[type='submit'],
input[type='button'],
button {
  float: none;
  width: auto;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background-color: #e6e6e6;
  -webkit-box-shadow: 0 4px 0 0 #adadad !important;
  -moz-box-shadow: 0 4px 0 0 #adadad !important;
  box-shadow: 0 4px 0 0 #adadad !important;
  transition: 0.1s; }

/* BUTTONSUBMIT */
.pifa-field-13 input,
input[type='submit'],
button[type='submit'] {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  -webkit-box-shadow: 0 4px 0 0 #23527c !important;
  -moz-box-shadow: 0 4px 0 0 #23527c !important;
  box-shadow: 0 4px 0 0 #23527c !important;
  font-weight: bold; }

/* INPUTRADIO */
.pifa-field-4 span,
.pifa-field-5 span {
  border: none;
  padding: 0; }

/* PROCESSBAR */
/* SLIDER */
/* CAPTCHA */
/*.pifa-field-12 {}*/
/* MATRIX */
/* PARA */
/* INPUTHIDDEN */
/* BUTTONIMAGE */
/* == Styling fields with erroneous data  ==
The class pifa-error is set to all divisions containing a field with erroneous
data. */
div.pifa-error {
  border: 1px solid red; }

/* column
  $color-rare: #A58E4A;
*/
.golden-ratio--column {
  display: flex;
  flex-direction: column;
  height: 100%; }

.golden-ratio--column .column--tall {
  height: 61.8034%;
  width: 100%;
  display: block; }

.golden-ratio--column .column--small {
  height: 38.1966%;
  width: 100%;
  display: block; }

/* row */
.golden-ratio--row {
  display: flex;
  flex-direction: row;
  height: 100%; }

.row--flex-height {
  height: auto; }

.golden-ratio--row .row--tall {
  width: 61.8034%;
  height: 100%;
  display: block; }

.golden-ratio--row .row--small {
  width: 38.1966%;
  height: 100%;
  display: block; }

.row--small:first-of-type,
.row--tall:first-of-type {
  margin-right: 1em; }

.gold {
  background-color: gold; }

.black {
  background-color: #333;
  color: white; }

.show-border .brick {
  background-color: rgba(204, 204, 204, 0.5); }

.show-border .content {
  color: #fff;
  background-color: #cccccc;
  min-height: 26px;
  height: 100%;
  width: 100%; }

.show-border .unigrid--col .content {
  background-color: rgba(139, 0, 0, 0.75); }

.grid,
.col-grid,
.mobile-grid,
.mobile-col-grid {
  height: 100%;
  position: absolute;
  display: none;
  z-index: 1030; }

.mobile-col-grid > .brick {
  margin-left: 0;
  margin-right: 0; }

.show-grid.grid,
.show-grid.col-grid,
.show-grid.mobile-grid,
.show-grid.mobile-col-grid {
  display: flex; }

.grid .brick {
  border-right: 1px solid red;
  border-left: 1px solid red;
  padding: 3px;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 26px;
  flex-basis: 26px;
  background: none; }
  .grid .brick div {
    border-right: 1px solid orange;
    border-left: 1px solid orange;
    font-size: 0.75em;
    height: 100%; }

.col-grid .brick {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  max-width: 100%;
  padding: 3px 0;
  max-height: 26px;
  flex-basis: 26px;
  background: none; }
  .col-grid .brick div {
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    font-size: 0.75em;
    height: calc(100% - 2px);
    line-height: 1; }

.mobile-grid .brick {
  border-right: 1px solid red;
  border-left: 1px solid red;
  padding: 3px;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  max-width: calc(8.33333% - 12px);
  flex-basis: calc(8.33333% - 12px);
  background: none; }
  .mobile-grid .brick div {
    border-right: 1px solid orange;
    border-left: 1px solid orange;
    font-size: 0.75em;
    height: 100%; }

.mobile-col-grid .brick {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  max-width: 100%;
  padding: 3px 0;
  max-height: 26px;
  flex-basis: 26px;
  background: none; }
  .mobile-col-grid .brick div {
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    font-size: 0.75em;
    height: calc(100% - 2px);
    line-height: 1;
    width: 100%; }

/*
.brick:first-child {
  background-color: green;
}

.brick:last-child{
  background-color: blue;
}

.brick:only-child {
  background-color: blueviolet;
}

.rulers .brick:first-child,
.rulers .brick:last-child,
.rulers .brick:only-child {
  background-color: transparent;
}
*/

/*# sourceMappingURL=unigrid-generator.css.map */
