/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

//* vars.colors */
$default-color-inverse: #000;
$default-color: #fff;

//* vars.responsive */
$media-phone: "only screen and (max-width : 767px)";
$media-tablet: "only screen and (min-width: 768px)";
$media-desktop: "only screen and (min-width: 1024px)";

//* vars.import */
@import 'unigrid/_variables';
@import 'core/_core-variables';
@import 'typography/_typography-variables';
@import 'forms/_forms-variables';
@import 'piktos/_piktos-variables';