/*------------------------------------*\
  #UNIGRID-CORE
\*------------------------------------*/


.brick {
  margin: $grid-half-gutter;
  padding: $grid-brick-padding-ttb $grid-brick-padding-rtl;

  min-height: ($grid-brick-height - $grid-gutter - $grid-brick-padding-ttb);
}

.unigrid--border {
  // todo
  border: $grid-border-width solid $grid-border-color;
}

.unigrid--border ~ .unigrid--border {
  border-top: none;
}

.unigrid--row.unigrid--border {
  width: calc(100% - #{(2 * $grid-border-width)});
  // todo height when col!
}
.unigrid--border .brick {
  margin: 0 $grid-half-gutter;
  padding: ($grid-brick-padding-ttb + $grid-half-gutter) ($grid-brick-padding-rtl - $grid-border-width) ($grid-brick-padding-ttb + $grid-half-gutter) $grid-brick-padding-rtl;

  border-left: $grid-border-width solid $grid-border-color;
}
.unigrid--border .brick:first-child,
.unigrid--border .brick.first{
  margin-left: 0;
  border-left: none;
}
.unigrid--border .brick:last-child,
.unigrid--border .brick.last{
  margin-right: 0;
  padding-right: 0;
}

.brick--inverse {
  background: $default-color-inverse;
  color: $default-color;
}

.brick--hide,
.brick-mobile--show {
  display: none;
}
.brick--show {
  display: flex;
}

.brick > img {
  width: 100%;
  max-height: 100%;
}

.brick--col--flex {
  height: auto;
  max-height: 100%;
}

.unigrid--col > .brick > img {
  vertical-align: top;
  width: auto;
}

.unigrid--col {
  height: 100%;

  width: 100%;

  padding: 0;
}

.unigrid--row {
  width: 100%;

  padding: 0;
}

img.brick,
.brick--img {
  vertical-align: top;
  padding: 0;
}

.unigrid--col > img.brick {
  width: auto;
}

hr {
  margin: ((($grid-brick-height + $grid-gutter)/2) - $grid-hr-border) 0;

  border: $grid-hr-border solid #000000;
}

.container {
  max-width: (($grid-brick-width+$grid-gutter)*$grid)-$grid-gutter;
  width: (($grid-brick-width+$grid-gutter)*$grid)-$grid-gutter;

  height: 100%;

  margin: 0 auto;
}