//* vars.grid */

$grid: 32;
$grid-gutter: 0;
$grid-half-gutter: ($grid-gutter/2);
$grid-brick-padding-ttb: 2px;
$grid-brick-padding-rtl: 4px;
$grid-brick-width: 40px;
$grid-brick-height: 40px;

//* vars.mobile.grid */

$mobile-grid: 12;
$mobile-grid-width: (1/$mobile-grid)*100%;
$mobile-grid-brick-height: $grid-brick-height;

//* vars.grid divers */

$grid-hr-border: 1px;

//* vars.colors */
$default-color-inverse: #000;
$default-color: #fff;

//* vars.responsive */
$media-phone: "only screen and (max-width : 767px)";
$media-tablet: "only screen and (min-width: 768px)";
$media-desktop: "only screen and (min-width: 1024px)";

//* vars.border */
$grid-border-width: 2px;
$grid-border-color: #000;
