.brick {
  margin: $grid-half-gutter;
  padding: $grid-brick-padding-ttb $grid-brick-padding-rtl;

  min-height: ($grid-brick-height - $grid-gutter - $grid-brick-padding-ttb);
}

// todo img not perfect...
img.brick,
.brick--img {
  margin: $grid-half-gutter;
  padding: 0;

  height: 100%;
}

.brick img {
  width: 100%;
  display: block;
}

.brick--inverse {
  background: $default-color-inverse;
  color: $default-color;
}

.brick--hide,
.brick-mobile--show {
  display: none;
}
.brick--show {
  display: flex;
}

hr {
  margin: ((($grid-brick-height + $grid-gutter)/2) - $grid-hr-border) 0;

  border: $grid-hr-border solid #000000;
}

.container {
  max-width: (($grid-brick-width+$grid-gutter)*$grid)-$grid-gutter;
  height: 100%;

  margin: 0 auto;
}

@media #{$media-desktop} {
  .brick:first-child,
  .brick.first {
    margin-left: 0;
  }

  .brick:last-child,
  .brick.last {
    margin-right: 0;
  }
}

@include grid-order($grid);