.brick {
  margin: $grid-half-gutter;
  padding: $grid-brick-padding-ttb $grid-brick-padding-rtl;
}

img.brick,
.brick--img {
  margin: $grid-half-gutter;
  padding: 0;

  height: 100%;
}

.brick img {
  width: 100%;
  display: block;
}

.brick:first-child,
.brick.first {
  margin-left: 0;
}

.brick:last-child,
.brick.last {
  margin-right: 0;
}

.brick--inverse {
  background: $default-color-inverse;
  color: $default-color;
}

.brick--hide,
.brick-mobile--show {
  display: none;
}
.brick--show {
  display: flex;
}

.container {
  max-width: (($grid-brick-width+$grid-gutter)*$grid)-$grid-gutter;
  height: 100%;

  margin: 0 auto;
}