/*------------------------------------*\
  #GRID-BRICK
\*------------------------------------*/

.brick {
  margin: $grid-half-gutter;
  padding: $grid-brick-padding-ttb $grid-brick-padding-rtl;

  min-height: ($grid-brick-height - $grid-gutter - $grid-brick-padding-ttb);
}

.brick--inverse {
  background: $default-color-inverse;
  color: $default-color;
}

/*------------------------------------*\
  #GRID-BRICK VISIBILITY
\*------------------------------------*/

.brick--hide,
.brick-mobile--show {
  display: none;
}
.brick--show {
  display: flex;
}

/*------------------------------------*\
  #GRID-BRICK IMAGES
\*------------------------------------*/

.brick > img {
  width: 100%;
  height: 100%;
}

.unigrid--col > .brick > img {
  width: auto;
}

img.brick,
.brick--img {
  margin: $grid-half-gutter;
  padding: 0;
}

/*------------------------------------*\
  #GRID-BRICK MISC
\*------------------------------------*/

hr {
  margin: ((($grid-brick-height + $grid-gutter)/2) - $grid-hr-border) 0;

  border: $grid-hr-border solid #000000;
}

.container {
  max-width: (($grid-brick-width+$grid-gutter)*$grid)-$grid-gutter;
  height: 100%;

  margin: 0 auto;
}

/*------------------------------------*\
  #GRID-BRICK FIRST/LAST
\*------------------------------------*/

@media #{$media-desktop} {
  .brick:first-child,
  .brick.first {
    margin-left: 0;
  }

  .brick:last-child,
  .brick.last {
    margin-right: 0;
  }

  // DIN A2 and more
  .unigrid--row > .unigrid--col.brick:last-child,
  .unigrid--row > .unigrid--col.brick.last {
    margin-left: $grid-half-gutter;
  }
}


/*------------------------------------*\
  #GRID-BRICK ORDER
\*------------------------------------*/

@include grid-order($grid);